*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{margin: 0; padding: 0; box-sizing: border-box;}
li, ul, ol{list-style: none;}
a{text-decoration: none;}
html {scroll-behavior:smooth;}
section{}

/* 라이트박스 */
.inner .btn{width:750px;}

  

/* 서체패밀리 */
body {
    /* font-family: 'Gloock', serif; */
    font-family: 'DM Serif Display', serif;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #f9fbff
}




/* 공통영역 */
.content{width: 100%; padding: 100px 0}
.inner{width: 1170px; margin: 0 auto;}
.wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.title{font: 40px 'DM Serif Display'; color: #1B3060; text-align: center;}
.sub_title{font: 25px 'Nanum Gothic';color: #1B3060;}


/* 배경오버레이 */
.bg-overlay {
    position: absolute;right: 0;top: 0;
    height: 100%;width: 100%;
    background-color: rgba(0, 0, 0, 0.6);z-index: -10;
}


/* 버튼 */
.btn{display: flex;justify-content: space-evenly;padding: 20px;}
.btn p{
    width: 200px;height:auto;border-radius: 10px;
    text-align: center;line-height: 60px;
    border: 1px solid #999;
}
.btn p a{
    display: block;
    font: bold 16px/60px 'Nanum Gothic';text-align: center;transition: 0.3s;color: #333;
}
.btn p:hover {overflow: hidden;border: 1px transparent;}
.btn p:hover a{color: #fff;}




@media screen and (max-width : 2000px){


}
@media screen and (max-width : 1200px){


}
@media screen and (max-width : 768px){


}






/* =================== */

/* 5. project #1 */

/* =================== */

.project1{
    background: url(../img/500pxhomeimg-11.png) no-repeat;
    background-size: 60%;
    background-position: 800px 100px; 
}
.project1 .inner{position: relative;}

.project1 .title{
    position: absolute;
    left: 0;top: 0;
    font-size: 24px;line-height: 70px;
    text-align: left;
}
.project1 .title .number{font-size: 30px;}
.project1 .title .sub_title{font: bold  18px 'Nanum Gothic';padding-bottom: 5px;border-bottom: 2px solid #1B3060;}
.project1 .title .name{font: bold  30px 'Nanum Gothic';margin-top: 20px;}

/* project1 - 상단 작업이미지 */
.project1 .project_img {text-indent: -9999px;}
.project1 .project_img .wrap{
    position:relative;left: 60%;height: 50%;transform:translate(-50%);
    width: 960px ;height: 540px;overflow: hidden;
}
.project1 .project_img .wrap p{width: 100%;position: absolute;}
.project1 .project_img .wrap p img{width: 80%}

/* project1 - 상단 작업이미지 - PC */
.project1 .inner .project_img .pc{
    height: 600px;
    background:url(../img/project1-1.png) no-repeat;
    background-size: 100%;
}
.project1 .inner .project_img .pc span{
    display:block;
    position:absolute;
    top: 110px;left: 50%;transform: translateX(-50%);
    width:510px; height:300px;
    background:url(../img/Portfolio-1st-project.png);
    background-size:cover;
}
.project1 .inner .project_img .pc span:hover{animation:shiScroll 10s ease infinite;}
.project1 .inner .project_img .pc i{left:25px; top:30px; background:rgba(64, 132, 231,0.5);}

.project1 .inner .project_img .pc i {
    display: block;
    position: absolute;
    left: 780px;top: 100px;
    width: 80px;height: 80px;
    border-radius: 50%;
    color: #000;
    text-align: center;
    text-indent: 0;
    padding: 20px 0;
    font: 12px/20px 'inherit';
    opacity: 1;
    background: #EDF5E6;

}
/* project1 - 상단 작업이미지 - tablet */
.project1 .inner .project_img .tablet{
    position: absolute;
    top: 0;right: -30px;
    width: 360px;height: 650px;
    background: url(../img/project1-2.png);
    background-position: right;
    background-size: cover;

}
/* project1 - 상단 작업이미지 - phone */
.project1 .inner .project_img .phone{
    position: absolute;
    top: 0;left: -30px;
    width: 360px;height: 650px;
    background:url(../img/project1-3.png);
    background-position: left;
    background-size: cover;
}

@keyframes shiScroll{
	0%{background-position: 0 0;}
    25%{background-position:0 -500px}
	50%{background-position:0 -1500px}
    75%{background-position:0 -2000px}
	100%{background-position: 0 0;}
}

/* project1 - 작업설명 */
.project1 .project_info{
    position: relative;
    width: 100%;bottom: 0px;
}
.project1 .project_info .info_left,
.project_info .info_right{
    width: 50%;padding: 10px 30px;
    text-align: left; font-size: 14px; line-height: 30px;
}
.project1 .project_info .info_left span,.description_concept{font: bold 16px 'ub';letter-spacing: 2px;margin-right: 20px;}


/* project1 하단 박스 버튼 */
.project1 .project_info .info_bottom{padding: 10px 0 ;}
.project1 .project_info .info_bottom .btn{transform: translateX(25%);}
.project1 .btn p:hover {background-color: #0F5C4B;}

/* =================== */

/* 5. project #2 */

/* =================== */

.project2{
    background: url(../img/500pxhomeimg-08.png) no-repeat;
    background-size: cover;
    background-position: -600px -300px;
}
.project2 .inner{position: relative;}

.project2 .title{
    position: absolute;
    left: 0;top: 0;
    font-size: 24px;line-height: 70px;
    text-align: left;
}
.project2 .title .number{font-size: 30px;}
.project2 .title .sub_title{font: bold  18px 'Nanum Gothic';padding-bottom: 5px;border-bottom: 2px solid #1B3060;}
.project2 .title .name{font: bold  30px 'Nanum Gothic';margin-top: 20px;}

/* project2 - 상단 작업이미지 */
.project2 .project_img {text-indent: -9999px;}
.project2 .project_img .wrap{
    position:relative;left: 60%;height: 50%;transform:translate(-50%);
    width: 960px ;height: 540px;overflow: hidden;
}
.project2 .project_img .wrap p{width: 100%;position: absolute;}
.project2 .project_img .wrap p img{width: 80%}

/* project2 - 상단 작업이미지 - PC */
.project2 .inner .project_img .pc{
    height: 600px;
    background:url(../img/project2-1.png) no-repeat;
    background-size: 100%;
}
.project2 .inner .project_img .pc span{
    display:block;
    position:absolute;
    top: 110px;left: 50%;transform: translateX(-50%);
    width:530px; height:300px;
    background:url(../img/Portfolio-2nd-project.png);
    background-size:cover;
}
.project2 .inner .project_img .pc span:hover{animation:shiScroll-1 10s ease infinite;}
.project2 .inner .project_img .pc i{left:25px; top:30px; background:rgba(64, 132, 231,0.5);}

.project2 .inner .project_img .pc i {
    display: block;
    position: absolute;
    left: 780px;top: 100px;
    width: 80px;height: 80px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    text-indent: 0;
    padding: 20px 0;
    font: 12px/20px 'Ubuntu';
    opacity: 1;
    background: #bf6160;

}
/* project2 - 상단 작업이미지 - tablet */
.project2 .inner .project_img .tablet{
    position: absolute;
    top: 0;left: -30px;
    width: 360px;height: 650px;
    background: url(../img/project2-2.png);
    background-position: left;
    background-size: cover;

}
/* project2 - 상단 작업이미지 - phone */
.project2 .inner .project_img .phone{
    position: absolute;
    top: 0;right: -30px;
    width: 360px;height: 650px;
    background:url(../img/project2-3.png);
    background-position: right;
    background-size: cover;
}

@keyframes shiScroll-1{
	0%{background-position: 0 0;}
    15%{background-position:0 -1000px}
    30%{background-position:0 -2000px}
    45%{background-position:0 -2500px}
	60%{background-position:0 -3000px}
    75%{background-position:0 -3500px}
    90%{background-position:0 -4700px}
	100%{background-position: 0 0;}
}

/* project2 - 작업설명 */
.project2 .project_info{
    position: relative;
    width: 100%;bottom: 0px;
}
.project2 .project_info .info_left,
.project_info .info_right{
    width: 50%;padding: 10px 30px;
    text-align: left; font-size: 14px; line-height: 30px;
}
.project2 .project_info .info_left span,.description_concept{font: bold 16px 'ub';letter-spacing: 2px;margin-right: 20px;}

/* project#2 하단 박스 버튼 */
.project2 .project_info .info_bottom{padding: 10px 0 ;}
.project2 .project_info .info_bottom .btn{transform: translateX(25%);}
.project2 .btn p:hover {background-color: #EDA3AF;}








/* =================== */

/* 7. Contact */

/* =================== */

.contact{
    width: 100%;height:100%;
    background: url(../img/1400X788.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.contact .inner{
    padding: 100px 0;
}
.contact .inner .miniprofile_title{font: bold 38px 'inherit';margin-bottom: 50px;}

.contact .inner .miniprofile{
    font:20px/40px 'inherit';
    text-align: left;
    padding-left: 500px;margin-bottom: 100px;
    color: #fff;
}
.miniprofile ul>li i{font-size: 20px}
.miniprofile ul>li>span{margin-left: 20px;}
.miniprofile ul>li>span>a{color: #fff;}
.contact .inner .copyright{font-size: 14px;line-height: 30px;text-align: center;}




