*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{margin: 0; padding: 0; box-sizing: border-box;}
li, ul, ol{list-style: none;}
a{text-decoration: none;}
html {scroll-behavior:smooth;}
section{}
section .inner{border: 2px solid blue;}
/* 라이트박스 */
.inner .btn{width:750px;}

  

/* 서체패밀리 */
body {
    /* font-family: 'Gloock', serif; */
    font-family: 'DM Serif Display', serif;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #f7f7f7eb
}

/* title = 24px bold 'inherit' color:#333
    sub_title (h2~h3) = 18px bold 'inherit' color :#333
*/
/* 
    sticky 적용이 안되는 경우 4가지
    1. 부모 높이가 없을 때
    - 자식 요소의 높이를 잡고 있다면 괜찮음 (자식 요소의 높이 x = 부모 높이가 0)
    2. 부모들 중에서 overflow 속성이 있으면 안됨
    3. top/left/right/bottom 반드시 1개는 들어가야 함 
    4. position: -webkit-sticky; 같이 써줄 것 - 적용이 안되는 브라우저가 있음(인터넷 익스플로러)


    ======================

*/


/* 공통영역 */
.content{width: 100%; padding: 100px 0}
.inner{width: 1170px; margin: 0 auto;}
.wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.title{font: 40px 'DM Serif Display'; color: #1B3060; text-align: center;border: 1px solid yellowgreen;}
.sub_title{font: 25px 'DM Serif Display';}
/* .txt{font: 16px 'Nanum Gothic'; color: #333; text-align: center;background-color: #E45B75;} */

/* 배경오버레이 */
.bg-overlay {
    position: absolute;right: 0;top: 0;
    height: 100%;width: 100%;
    background-color: rgba(0, 0, 0, 0.6);z-index: -10;
}


/* 버튼 */
.btn{display: flex;justify-content: space-evenly;padding: 20px;border: 1px solid red;}
.btn p{
    width: 200px;height:auto;border-radius: 10px;
    text-align: center;line-height: 60px;
    border: 1px solid #999;
}
.btn p a{
    display: block;
    font: bold 16px/60px 'Nanum Gothic';text-align: center;transition: 0.3s;color: #333;
}
.btn p:hover {overflow: hidden;border: 1px transparent;}
.btn p:hover a{color: #fff;}




@media screen and (max-width : 2000px){


}
@media screen and (max-width : 1200px){


}
@media screen and (max-width : 768px){


}



/* =================== */

/* 1. header */

/* =================== */

#header{
    position: fixed;
    width: 100%;top: 0;
    z-index: 9999;background: #fff;box-shadow:0 0 5px #ddd;
}
.header .inner{height: 100px; display: flex; justify-content: space-between; align-items: center;    background-color: violet }


.header .inner .header_logo{display: flex;width: 300px;align-items: center;}
.header .inner .header_logo img{width: 15%;margin-right: 20px;}
.header .inner .header_logo h2{font-size: 20px;color: #000; text-align: center;padding: 30px 0;}



.header .gnb_wrap>ul{margin-top: 20px; display: flex; justify-content: flex-end;  flex-wrap: wrap;}
.header .gnb_wrap ul>li{}
.header .gnb_wrap ul>li>a{padding: 0 20px; font: 16px/20px 'inherit'; color: #666;border: 1px solid black;}

.header .gnb_wrap .search_area{margin-top: 10px;}

.header .gnb_wrap .gnb{display: flex; justify-content: flex-end; flex-wrap: wrap;}
.header .gnb_wrap .gnb>li{position: relative;}
.header .gnb_wrap .gnb>li>a{display: block;padding: 0 30px; font: 14px/60px 'inherit'; color: #333;}

.header .gnb_wrap .gnb>li>.submenu{
    display: none;position: absolute; top: 60px; left: 50%; transform: translateX(-50%);
    width: 160px;text-align: center;background-color: #ddd;overflow: hidden;
}
.header .gnb_wrap .gnb>li.on>.submenu{display: block;}
.header .gnb_wrap .gnb>li>.submenu>li{}
.header .gnb_wrap .gnb>li>.submenu>li>a{font: 13px/30px 'inherit'; color: #333;}
.header .gnb_wrap .gnb>li>.submenu>li:hover{width:100%;background-color: #07604f}
.header .gnb_wrap .gnb>li>.submenu>li:hover>a{color: #fff;}

.header .toggle{display: ;}


/* 사이드 메뉴 */
#nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#nav.right {
    right: 17px;
}
#nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#nav ul li:hover .fp-tooltip,
#nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#nav ul li .fp-tooltip.right {
    right: 20px;
}
#nav ul li .fp-tooltip.left {
    left: 20px;}






/* =================== */

/* 2. Home */

/* =================== */

.home {width: 100%; height: 100%;}
.home .inner{width: 100%;}
.home .inner .wrap{max-width: 80%; height: 800px; margin: 0 auto;}


.home .wrap .img-section img:nth-child(1) {
    position:relative;
    width: 35% ;border-radius: 15px;
    left: 50%;top: 45%;
    transform: translate(-0%, -30%);
    z-index: 3;
}
.home .wrap .img-section img:nth-child(2) {
    position: absolute;
    width: 30%;
    left: 12%;top: 21%;
    z-index: 1;
    
}
.home .wrap .img-section img:nth-child(3) {
    position: absolute;
    width: 30%;
    left: 15%;top: 18%;
    z-index: 1;
}
.home .wrap .img-section img:nth-child(4) {
    position: absolute;
    width: 20%;
    bottom: 1%;right:25%;
    z-index: 1;
}
.home .img-section p{
    position: absolute;
    font: 80px 'DM Serif Display';
    text-align: center;transform: translateX(-50%);
    color: #E45B75;
    z-index: 2;
}

.home .img-section p:nth-child(5) {top: 15%;left: 50%;}
.home .img-section p:nth-child(6) {top: 25%;left: 50%;}
.home .img-section p:nth-child(7) {bottom: 5%;left: 35%;z-index: 3;}

.home .img-section .rotation{
    animation: rotate_image  16s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image {
    100% {
      transform: rotate(360deg);
    }
}


/* =================== */

/* 3. About Me */

/* =================== */

.about{width: 100%; height: 100%;}
.about .inner{position: relative;height: 750px;}
.about .title{position: absolute;}
.about .left{
    position: absolute;
    width: 50%;
    top: 15%;left: 0;
}
.about .left img{position: absolute;}
.about .left h3{
    position: absolute;
    top: 100px;right: -10px;
    line-height: 40px;
    z-index: 2;
}
.about .left h3 span{font-size: 30px;color: #E45B75;}
.about .left img:nth-child(2) {
    position: absolute;
    top:300px;
    left: -40%;
    width: 350px;
}
.about .left img:nth-child(3) {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 1;
    width: 360px;border-radius: 15px;
}
.about .left .keyword{
    width: 320px;
    height: 40px;
    position: absolute;
    left: 18%;top: 400px;
    background-color: #EABB63;
    border-radius: 20px;
    z-index: 2;
}
.about .left .keyword h4{position: absolute;left: -110px;top: 7px;font: 18px 'DM Serif Display';color: #1B3060;}
.about .left .keyword ul{width: 100%;height: 100%;line-height: 35px;}

.about .left .keyword ul li{
    position: absolute;
    height: 20px;float: left;
    top: 4px;text-align: left;
    padding: 0px 30px;
    transition: all 0.8s;
    color: #1B3060;
}
.about .left .keyword ul li p{font-size: 14px;}
.about .left .keyword ul li p>span{
    font-weight: 600;border-bottom: 1px solid #02569C;color: #02569C
}



.about .right{
    position: absolute;
    width: 50%;
    top: 15%;right: 0
}
.about .right .sub_title{margin-bottom: 10px;color: #E45B75;}

.about .right .profile{
    position: absolute;
    top:230px; left: -20px;
    width: 490px;font-size: 14px;line-height: 30px;
}
.about .right .profile .introduce span{font-weight: bold;color: #E45B75;}
.about .keyword{position: absolute;right: 0;top: 0;}

.about .right .experiences{
    position: absolute;
    top:500px; left: -20px;
    width: 490px;font-size: 14px;line-height: 30px;
}
.about .right .experiences span{margin-left: 20px;}
.about .right img:nth-child(3){
    position: absolute;
    top:340px;right:-200px;
    width: 370px;z-index: 1;
}
.about .right img:nth-child(4) {
    position: absolute;
    top:350px;right:-230px;
    width: 400px;
}
/* =================== */

/* 4. Skill */

/* =================== */
#skills{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url(../img/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

/* 도표 느낌으로 */
/* .skill_list{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.skill_list .skill_name{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 40px 0;
}
.skill_list .skill_bar{
    height: 14px;
    background: #1B3060;
    border-radius: 6px;
}
.skill_list .skill_percent{
    position: relative;
    height: 14px;
    background-color: #EABB63;
    border-radius: 6px;
    animation: fillskill 2.5s;
}

.skill_list .skill_percent::before{
    position: absolute;
    content: attr(per);
    right: 0;top: -37px;
    padding: 2px 8px;
    transform: translateX(50%);
    background-color: #fff;
    border-radius: 3px;
    color:#1B3060;
    font-weight: 600;
}
.skill_list .skill_percent::after{
    position: absolute;
    content: "";
    width:10px ;height: 10px;
    right: 0; top: -19px;
    transform: translateX(50%) rotate(45deg);
    background-color: #fff;
}

@keyframes fillskill{
    0%{ width: 0;}
    100%{width: 100%;}

} */


.skill .inner{height: 700px;  position: relative;}
.skill .title,.skill_description{
    position: absolute;left: 50%;transform: translateX(-50%);line-height: 50px;
    text-transform: uppercase;color: #fff;}
.skill .title > span{font-size: 18px;}
.skill .skill_description{top: 200px;}

.skill .icon{
    position: absolute;
    top: 50%;left: 0;
    border: 1px solid yellow;
    display: flex;width: 100%;
}
.skill .icon li{
    width: 80px;
    text-align: center;margin: 0 auto;
    color:#EABB63
}
.skill .icon li span{font-size: 16px;font-weight:bold;}

.skill .icon{transform: translateY(-80px);opacity: 0;}
.skill .icon{transform: translateY(-80px);opacity: 0;}
.skill.on .icon{transition: 1s;transform: translateY(0);opacity: 1;}

.skill .inner ul li{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    background-color: #1B3060;
    float: left;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 10px;
}



/* =================== */

/* 5. project #1 */

/* =================== */

.project1{
    background: url(../img/500pxhomeimg-11.png) no-repeat;
    background-size: 60%;
    background-position: 800px 100px; 
}
.project1 .inner{position: relative;}

.project1 .title{
    position: absolute;
    left: 0;top: 0;
    font-size: 24px;line-height: 70px;
    text-align: left;
}
.project1 .title .number{font-size: 30px;}
.project1 .title .sub_title{font: bold  18px 'Nanum Gothic';padding-bottom: 5px;border-bottom: 2px solid #1B3060;}
.project1 .title .name{font: bold  30px 'Nanum Gothic';margin-top: 20px;}

/* project1 - 상단 작업이미지 */
.project1 .project_img {text-indent: -9999px;}
.project1 .project_img .wrap{
    position:relative;left: 60%;height: 50%;transform:translate(-50%);
    width: 960px ;height: 540px;overflow: hidden;
}
.project1 .project_img .wrap p{width: 100%;position: absolute;}
.project1 .project_img .wrap p img{width: 80%}

/* project1 - 상단 작업이미지 - PC */
.project1 .inner .project_img .pc{
    height: 600px;
    background:url(../img/project1-1.png) no-repeat;
    background-size: 100%;
}
.project1 .inner .project_img .pc span{
    display:block;
    position:absolute;
    top: 110px;left: 50%;transform: translateX(-50%);
    width:510px; height:300px;
    background:url(../img/Portfolio-1st-project.png);
    background-size:cover;
}
.project1 .inner .project_img .pc span:hover{animation:shiScroll 10s ease infinite;}
.project1 .inner .project_img .pc i{left:25px; top:30px; background:rgba(64, 132, 231,0.5);}

.project1 .inner .project_img .pc i {
    display: block;
    position: absolute;
    left: 780px;top: 100px;
    width: 80px;height: 80px;
    border-radius: 50%;
    color: #000;
    text-align: center;
    text-indent: 0;
    padding: 20px 0;
    font: 12px/20px 'Ubuntu';
    opacity: 1;
    background: #EDF5E6;

}
/* project1 - 상단 작업이미지 - tablet */
.project1 .inner .project_img .tablet{
    position: absolute;
    top: 0;right: -30px;
    width: 360px;height: 650px;
    background: url(../img/project1-2.png);
    background-position: right;
    background-size: cover;

}
/* project1 - 상단 작업이미지 - phone */
.project1 .inner .project_img .phone{
    position: absolute;
    top: 0;left: -30px;
    width: 360px;height: 650px;
    background:url(../img/project1-3.png);
    background-position: left;
    background-size: cover;
}

@keyframes shiScroll{
	0%{background-position: 0 0;}
    25%{background-position:0 -500px}
	50%{background-position:0 -1500px}
    75%{background-position:0 -2000px}
	100%{background-position: 0 0;}
}

/* project1 - 작업설명 */
.project1 .project_info{
    position: relative;
    width: 100%;bottom: 0px;
    border: 3px solid red;
}
.project1 .project_info .info_left,
.project_info .info_right{
    width: 50%;padding: 10px 30px;
    text-align: left; font-size: 14px; line-height: 30px;
}
.project1 .project_info .info_left span,.description_concept{font: bold 16px 'ub';letter-spacing: 2px;margin-right: 20px;}


/* project1 하단 박스 버튼 */
.project1 .project_info .info_bottom{padding: 10px 0 ;}
.project1 .project_info .info_bottom .btn{transform: translateX(25%);}
.project1 .btn p:hover {background-color: #0F5C4B;}

/* =================== */

/* 5. project #2 */

/* =================== */

.project2{
    background: url(../img/500pxhomeimg-08.png) no-repeat;
    background-size: cover;
    background-position: -600px -300px;
}
.project2 .inner{position: relative;}

.project2 .title{
    position: absolute;
    left: 0;top: 0;
    font-size: 24px;line-height: 70px;
    text-align: left;
}
.project2 .title .number{font-size: 30px;}
.project2 .title .sub_title{font: bold  18px 'Nanum Gothic';padding-bottom: 5px;border-bottom: 2px solid #1B3060;}
.project2 .title .name{font: bold  30px 'Nanum Gothic';margin-top: 20px;}

/* project2 - 상단 작업이미지 */
.project2 .project_img {text-indent: -9999px;}
.project2 .project_img .wrap{
    position:relative;left: 60%;height: 50%;transform:translate(-50%);
    width: 960px ;height: 540px;overflow: hidden;
}
.project2 .project_img .wrap p{width: 100%;position: absolute;}
.project2 .project_img .wrap p img{width: 80%}

/* project2 - 상단 작업이미지 - PC */
.project2 .inner .project_img .pc{
    height: 600px;
    background:url(../img/project2-1.png) no-repeat;
    background-size: 100%;
}
.project2 .inner .project_img .pc span{
    display:block;
    position:absolute;
    top: 110px;left: 50%;transform: translateX(-50%);
    width:530px; height:300px;
    background:url(../img/Portfolio-2nd-project.png);
    background-size:cover;
}
.project2 .inner .project_img .pc span:hover{animation:shiScroll-1 10s ease infinite;}
.project2 .inner .project_img .pc i{left:25px; top:30px; background:rgba(64, 132, 231,0.5);}

.project2 .inner .project_img .pc i {
    display: block;
    position: absolute;
    left: 780px;top: 100px;
    width: 80px;height: 80px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    text-indent: 0;
    padding: 20px 0;
    font: 12px/20px 'Ubuntu';
    opacity: 1;
    background: #bf6160;

}
/* project2 - 상단 작업이미지 - tablet */
.project2 .inner .project_img .tablet{
    position: absolute;
    top: 0;left: -30px;
    width: 360px;height: 650px;
    background: url(../img/project2-2.png);
    background-position: left;
    background-size: cover;

}
/* project2 - 상단 작업이미지 - phone */
.project2 .inner .project_img .phone{
    position: absolute;
    top: 0;right: -30px;
    width: 360px;height: 650px;
    background:url(../img/project2-3.png);
    background-position: right;
    background-size: cover;
}

@keyframes shiScroll-1{
	0%{background-position: 0 0;}
    15%{background-position:0 -1000px}
    30%{background-position:0 -2000px}
    45%{background-position:0 -2500px}
	60%{background-position:0 -3000px}
    75%{background-position:0 -3500px}
    90%{background-position:0 -4700px}
	100%{background-position: 0 0;}
}

/* project2 - 작업설명 */
.project2 .project_info{
    position: relative;
    width: 100%;bottom: 0px;
    border: 3px solid red;
}
.project2 .project_info .info_left,
.project_info .info_right{
    width: 50%;padding: 10px 30px;
    text-align: left; font-size: 14px; line-height: 30px;
}
.project2 .project_info .info_left span,.description_concept{font: bold 16px 'ub';letter-spacing: 2px;margin-right: 20px;}

/* project#2 하단 박스 버튼 */
.project2 .project_info .info_bottom{padding: 10px 0 ;}
.project2 .project_info .info_bottom .btn{transform: translateX(25%);}
.project2 .btn p:hover {background-color: #EDA3AF;}








/* =================== */

/* 6. 기타작업-modal */

/* =================== */
/*디자인 작업 부분*/
/* .design{
    width: 100%;
    height: 969px;
}
.design h1{
    font-size: 50px;
    padding: 30px 0;
    text-align: center;
}
.design .design-wrap{
    width: 1240px;
    margin: 0 auto;
    height: 810px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}
.design .item{
    width: 48%;
    float: left;
    font-size: 0;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}
.design .item img{
    transition: 0.5s;
    overflow: hidden;
    filter: grayscale(0.4);
}
.design .item:hover img{
    transform: scale(1.1);
}
.design .item:hover img{filter: grayscale(0)}
.design .item:nth-child(1){
    height: 220px;
    margin-right: 20px;
}
.design .item:nth-child(1) img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.design .item:nth-child(2){
    width:50.3%;
    height: 220px;
}
.design .item:nth-child(2) img{
    width: 100%;
    height: 100%;
}
.design .item:nth-child(3){
    width: 100%;
    height: auto;
}
.design .item:nth-child(3) img{
    width: 100%;
    height: 100%;
}
.design .item:nth-child(4){
    width: 48%;
    height: 484px;
    margin-right: 20px;
    overflow: hidden;
    float: left;
}
.design .item:nth-child(4) img{
    width: 100%;
    transition: 15s linear;
}
.design .item:nth-child(4):hover img{
    margin-top: -665%;
    filter: grayscale(0)
}
.design .item:nth-child(5){
    width: 50.3%;
    height: 262px;
    float: left;
}
.design .item:nth-child(5) img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.design .item:nth-child(6){
    width: 50.3%;
    float: left;
    height: 202px;
    overflow: hidden;
}
.design .item:nth-child(6) img{
    transition: 5s linear;
    width: 100%;
}
.design .item:nth-child(6):hover img{
    margin-top: -115%;
}
.window{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(3,3,3,0.6);
    display: none;
}
.window-content{
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: none;
    overflow-y: scroll;
}
.window-content .content-wrap{
    width: 100%;
    height: auto;
}
.window-content .content-wrap img{
    width: 100%;
    font-size: 0;
}
.window-content .content-wrap i{
    font-size: 2rem;
    color: #333;
    position: fixed;
    right: 2%;
    top: 2%;
    cursor: pointer;
    transition: 0.3s;
}
.window-content .content-wrap i:hover{
    color: #fff;
}
.arrow{
    width: 100%;
    z-index: 99999;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
    right: -76%;
}
.arrow i{
    position: fixed;
    color: #fff;
    font-size: 2.5rem;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.arrow i:first-child{
    left: -54%;
} */
/* .window-arrow i:hover{
    color: orangered;
} */

/* =================== */

/* 젭알 */



/* My_work btn */
.My_work .inner .btn{margin: 0px 0px 20px 50%;transform: translateX(-50%)}
.My_work .inner .btn p{position:relative;}

.My_work .inner .btn p a span{
    font-size: 15px;
    border-radius: 100%;padding: 5px 10px;
    background-color: #ddd;
}

/* Hover btn_color */
.My_work .btn p:hover{border: 1px solid transparent;}

.My_work .btn .btnVisual:hover a {background: #02569C;}
.My_work .btn .btnBD:hover a {background: #EABB63;}

.My_work .btn .btnVisual:hover a span{background-color: #EABB63}
.My_work .btn .btnBD:hover a span{background-color: #02569C}


/* tabBox */
.My_work .inner .tabBox{width:960px; height:650px;margin:0 auto;
transform: rotateX(50%'angle');}

.My_work .inner .tabBox li{
    width: 300px;height: 310px;
    margin-bottom: 30px;
    float: left;
    overflow:hidden;
    transition:all 0.3s;
    box-sizing:border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #eee;

}
.My_work .inner .tabBox li i{display:block;width: 100%;height:100%;text-indent: -9999px;transition:all 0.3s;}
.My_work .inner .tabBox li a{
    transition:all 0.3s;position:relative;z-index: 10;
}

.My_work .inner .tabBox li a span{
    display:block;
    width:100%; height:100%;
    position:absolute; top:0; left:0;
    background:url(../img/hover_more.png);
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size:80px auto;
    padding-top:30%; text-align: center; font-size:18px; opacity:0; transition:all 0.3s; z-index: 20; text-indent:0; color:#fff;}

.My_work .inner .tabBox li:hover i {transform:scale(0.95);}
.My_work .inner .tabBox li:hover span{opacity:1;}


/* BDPage */
.My_work .inner .BDPage li:nth-child(2){margin: 0  30px;}
.My_work .inner .BDPage li:nth-child(5){margin: 0  30px;}

.My_work .inner .BDPage li a{display:block; text-indent:-9999px; width:300px; height:100%;}
.My_work .inner .BDPage li:nth-child(1) i{background:url(../img/thumbnail-11.jpg) no-repeat;}
.My_work .inner .BDPage li:nth-child(2) i{background:url(../img/thumbnail-10.jpg) no-repeat;}
.My_work .inner .BDPage li:nth-child(3) i{background:url(../img/thumbnail-12.jpg) no-repeat;}



/* visualPage */
.My_work .inner .visualPage li:nth-child(2){margin: 0  30px;}
.My_work .inner .visualPage li:nth-child(5){margin: 0  30px;}

.My_work .inner .visualPage li:nth-child(1) i{background:url(../img/thumbnail_01.jpg);}
.My_work .inner .visualPage li:nth-child(2) i{background:url(../img/thumbnail-02.jpg);}
.My_work .inner .visualPage li:nth-child(3) i{background:url(../img/thumbnail-04.jpg);}
.My_work .inner .visualPage li:nth-child(4) i{background:url(../img/thumbnail-05.jpg);}
.My_work .inner .visualPage li:nth-child(5) i{background:url(../img/thumbnail-06.jpg);}
.My_work .inner .visualPage li:nth-child(6) i{background:url(../img/thumbnail-07.jpg);}









/* =================== */


/* =================== */

/* 7. Contact */

/* =================== */

.contact{
    width: 100%;height:100%;
    background: url(../img/1400X788.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.contact .inner{
    padding: 100px 0;
}
.contact .inner .miniprofile_title{font: bold 38px 'inherit';margin-bottom: 50px;}

.contact .inner .miniprofile{
    font:20px/40px 'inherit';
    text-align: left;
    padding-left: 500px;margin-bottom: 100px;
    color: #fff;
}
.miniprofile ul>li i{font-size: 20px}
.miniprofile ul>li>span{margin-left: 20px;}
.miniprofile ul>li>span>a{color: #fff;}
.contact .inner .copyright{font-size: 14px;line-height: 30px;text-align: center;}




/* 
=========== */

/* #nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#nav.right {
    right: 17px;
}
#nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#nav ul{margin: 0;padding: 0;}
#nav ul li{
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
} */
/* .fp-slidesNav ul li {
    display: inline-block;
} */
/* #nav ul li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#nav ul li a.active span,
#nav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}
#nav ul li a span{
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#nav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
    background-color: orange;
}
#nav ul li a.active span{background-color: orange;}
#nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #333;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#nav ul li:hover .fp-tooltip,
#nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
} */

/* #nav a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
} */
/* #nav ul li .fp-tooltip.right {
    right: 20px;
}
#nav ul li .fp-tooltip.left {
    left: 20px;
} */
/* .fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
} */

/* .fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
} */