*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{margin: 0; padding: 0; box-sizing: border-box;}
li, ul, ol{list-style: none;}
a{text-decoration: none;}
html {scroll-behavior:smooth;}
body{background-color: ;}

/* 라이트박스 */
.inner .btn{width:750px;}

  

/* 서체패밀리 */
body {font-family: 'Ubuntu', sans-serif;
  transition: 0.3s ease-out;
  overflow-x: hidden;
}

/* title = 24px bold 'inherit' color:#333
    sub_title (h2~h3) = 18px bold 'inherit' color :#333
*/
/* 
    sticky 적용이 안되는 경우 4가지
    1. 부모 높이가 없을 때
    - 자식 요소의 높이를 잡고 있다면 괜찮음 (자식 요소의 높이 x = 부모 높이가 0)
    2. 부모들 중에서 overflow 속성이 있으면 안됨
    3. top/left/right/bottom 반드시 1개는 들어가야 함 
    4. position: -webkit-sticky; 같이 써줄 것 - 적용이 안되는 브라우저가 있음(인터넷 익스플로러)


    ======================

*/


/* 공통영역 */
.content{width: 100%; padding: 100px 0}
.inner{width: 1170px; margin: 0 auto;}
.wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.title{font-size: 24px; color: #333; text-align: center;}
.txt{font-size: 16px; color: #333; text-align: center;}

/* 배경오버레이 */
.bg-overlay {
    position: absolute;right: 0;top: 0;
    height: 100%;width: 100%;
    background-color: rgba(0, 0, 0, 0.6);z-index: -10;
}


/* 버튼 */
.btn{
    display: flex;justify-content: space-evenly;
    padding: 20px;border: 1px solid red;
}
.btn p{
    width: 200px;height:auto;border-radius: 10px;
    text-align: center;line-height: 60px;
    border: 1px solid #999;
}
.btn p a{
    display: block;
    font-size: 16px;font-weight: 600;text-align: center;transition: 0.3s;color: #333;
}
/* .btn p:hover {background-size: cover;transition: 1s;box-shadow: 5px 10px 15px #ddd; border: 1px solid transparent;} */
.btn p:hover a{color: #fff;}



@media screen and (max-width : 2000px){


}
@media screen and (max-width : 1200px){


}
@media screen and (max-width : 768px){


}



/* =================== */

/* 1. header */

/* =================== */

#header{
    position: fixed;
    width: 100%;top: 0;
    z-index: 2;background: #fff;box-shadow:0 0 5px #ddd;
}
.header .inner{height: 100px; display: flex; justify-content: space-between; align-items: center; }


.header .inner .header_logo{
    border: 1px solid red;
    display: flex;align-items: center;
}

.header .inner .header_logo .logo{
    text-indent: -9999px;
}



.header .gnb_wrap>ul{margin-top: 20px; display: flex; justify-content: flex-end;  flex-wrap: wrap;}
.header .gnb_wrap ul>li{}
.header .gnb_wrap ul>li>a{padding: 0 20px; font: 16px/20px 'inherit'; color: #666;border: 1px solid black;}

.header .gnb_wrap .search_area{margin-top: 10px;}

.header .gnb_wrap .gnb{display: flex; justify-content: flex-end; flex-wrap: wrap;}
.header .gnb_wrap .gnb>li{position: relative;}
.header .gnb_wrap .gnb>li>a{display: block;padding: 0 30px; font: 14px/60px 'inherit'; color: #333;}

.header .gnb_wrap .gnb>li>.submenu{
    display: none;position: absolute; top: 60px; left: 50%; transform: translateX(-50%);
    width: 160px;text-align: center;background-color: #ddd;overflow: hidden;
}
.header .gnb_wrap .gnb>li.on>.submenu{display: block;}
.header .gnb_wrap .gnb>li>.submenu>li{}
.header .gnb_wrap .gnb>li>.submenu>li>a{font: 13px/30px 'inherit'; color: #333;}
.header .gnb_wrap .gnb>li>.submenu>li:hover{width:100%;background-color: #07604f}
.header .gnb_wrap .gnb>li>.submenu>li:hover>a{color: #fff;}

.header .toggle{display: ;}


/* 사이드 메뉴 */
/* #nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
} */
/* #nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#nav.right {
    right: 17px;
}
#nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#nav ul li:hover .fp-tooltip,
#nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#nav ul li .fp-tooltip.right {
    right: 20px;
}
#nav ul li .fp-tooltip.left {
    left: 20px;} */
/* =================== */

/* 2. About Me */

/* =================== */

.about{width: 100%;}
.about .title{padding: 30px 0;font-size: 30px;}

.about .inner .wrap{
    background-color: #f6f6f6eb;
    border-radius: 50px;
    margin: 0 auto;
}

.about .left {width: 580px;height: auto;float: left;}

.about .wrap .left{
    padding: 30px;
    font-size: 15px;
    text-align: center;
    border-right: 1px solid rgb(218, 218, 218);
}
.about .wrap .left>img{width: 300px;margin-top: 40px;}

.about .left .keyword{
    width: 320px;
    height: 40px;
    position: relative;
    left: 20%;top:50px;
    background-color: #c3daf6;
    border-radius: 20px;
}
.about .left .keyword h4{
    position: absolute;
    left: -110px;top: 7px;
    font-size: 18px;

}
.about .left .keyword ul{
    width: 100%;height: 100%;
    line-height: 35px;}

.about .left .keyword ul li{
    position: absolute;
    height: 20px;float: left;
    top: 4px;text-align: left;
    padding: 0px 30px;
    transition: all 0.8s;
    }
.about .left .keyword ul li p{font-size: 14px;}
.about .left .keyword ul li p>span{
    border-bottom: 1px solid #4071bf;font-weight: 600;color: #4071bf
}



.about .wrap .right{padding: 30px;}
.about .wrap .right span{margin-left: 20px;}
.about .wrap .right p{font-size: 15px;line-height: 25px;}
.about .wrap .right h3{font-size: 20px; margin: 10px 0;color: red;}

.about .wrap .right .experiences{margin: 50px 0;}


/* =================== */

/* 4. Skill */

/* =================== */
.skill{
    background: url(../img/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.skill .inner{border: 1px solid red;}
.skill .title{font-size: 36px;text-transform: uppercase;margin-bottom: 80px;color: #fff;}
.skill .icon{
    border: 1px solid yellow;
    display: flex;width: 100%;justify-content: center;
}
.skill .icon li{
    width: 80px;
    text-align: center;margin: 0 auto;
    color: #fff
}
.skill .icon li img{width: 100%;margin-bottom: 20px;}
.skill .icon li span{font-size: 16px;font-weight:bold;}

/* .skill .icon{transform: translateY(-80px);opacity: 0;} */
/* .skill.on .icon{transition: 1s;transform: translateY(0);opacity: 1;} */

.skill .inner ul li{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    background-color: #c3daf6;
    float: left;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 10px;
}



/* =================== */

/* 5. project #1 */

/* =================== */

.project1{
    border: 1px solid red;
    background-color: #f6f6f6eb;
}
.project1 .inner{position: relative;}

.project1 .title{
    position: absolute;
    left: 0;top: 0;
    font: bold 24px/40px 'inherit';
    text-align: left;color: #333;
}
.project1 .title .sub_name{border-bottom: 2px solid #666;}
.project1 .title .name{margin-top: 20px;}

.project1 .project_img{}
.project1 .project_img .wrap{
    position:relative;left: 50%;height: 50%;transform:translate(-50%);
    width: 960px ;height: 540px;overflow: hidden;
}
.project1 .project_img .wrap p{width: 100%;position: absolute;}

.project1 .project_img .wrap p img{width: 100%;}


.project1 .project_info{display:flex;width: 100%;bottom: 300px;text-align: left;}
.project1 .project_info .top{width: 570px;justify-content: space-between;}
.project1 .project_info .left{line-height: 40px;}
.project1 .project_info .left span{font-weight: bold;letter-spacing: 2px;margin-right: 30px;}

/* project#1 하단 박스 버튼 */
.project1 .project_info .bottom{width: 100%;margin-top: 40px;}


/* =================== */

/* 5. project #2 */

/* =================== */

.project2{
    background: #f7f7f7eb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.project2 .inner{position: relative;}

.project2 .title{
    position: absolute;
    left: 0;top: 0;
    font: bold 24px/40px 'inherit';
    text-align: left;color: #333;
}
.project2 .title .sub_name{border-bottom: 2px solid #666;}
.project2 .title .name{margin-top: 20px;}

.project2 .project_img{}
.project2 .project_img .wrap{
    position:relative;left: 50%;height: 50%;transform:translate(-50%);
    width: 960px ;height: 540px;overflow: hidden;
}
.project2 .project_img .wrap p{width: 100%;position: absolute;}

.project2 .project_img .wrap p img{width: 100%;}


.project2 .project_info{display:flex;width: 100%;bottom: 300px;text-align: left}
.project2 .project_info .top{width: 570px;justify-content: space-between;}
.project2 .project_info .left{line-height: 40px;}
.project2 .project_info .left span{font-weight: bold;letter-spacing: 2px;margin-right: 30px;}

/* project#2 하단 박스 버튼 */
.project2 .project_info .bottom{width: 100%;margin-top: 40px;}
.project2 .btn p:hover {background-color:  rgb(237, 163, 175);}


/* =================== */

/* 5. project #3 */

/* =================== */

.project3{}





/* =================== */

/* 6. 기타작업-modal */

/* =================== */
/*디자인 작업 부분*/
/* .design{
    width: 100%;
    height: 969px;
}
.design h1{
    font-size: 50px;
    padding: 30px 0;
    text-align: center;
}
.design .design-wrap{
    width: 1240px;
    margin: 0 auto;
    height: 810px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}
.design .item{
    width: 48%;
    float: left;
    font-size: 0;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}
.design .item img{
    transition: 0.5s;
    overflow: hidden;
    filter: grayscale(0.4);
}
.design .item:hover img{
    transform: scale(1.1);
}
.design .item:hover img{filter: grayscale(0)}
.design .item:nth-child(1){
    height: 220px;
    margin-right: 20px;
}
.design .item:nth-child(1) img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.design .item:nth-child(2){
    width:50.3%;
    height: 220px;
}
.design .item:nth-child(2) img{
    width: 100%;
    height: 100%;
}
.design .item:nth-child(3){
    width: 100%;
    height: auto;
}
.design .item:nth-child(3) img{
    width: 100%;
    height: 100%;
}
.design .item:nth-child(4){
    width: 48%;
    height: 484px;
    margin-right: 20px;
    overflow: hidden;
    float: left;
}
.design .item:nth-child(4) img{
    width: 100%;
    transition: 15s linear;
}
.design .item:nth-child(4):hover img{
    margin-top: -665%;
    filter: grayscale(0)
}
.design .item:nth-child(5){
    width: 50.3%;
    height: 262px;
    float: left;
}
.design .item:nth-child(5) img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.design .item:nth-child(6){
    width: 50.3%;
    float: left;
    height: 202px;
    overflow: hidden;
}
.design .item:nth-child(6) img{
    transition: 5s linear;
    width: 100%;
}
.design .item:nth-child(6):hover img{
    margin-top: -115%;
}
.window{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(3,3,3,0.6);
    display: none;
}
.window-content{
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: none;
    overflow-y: scroll;
}
.window-content .content-wrap{
    width: 100%;
    height: auto;
}
.window-content .content-wrap img{
    width: 100%;
    font-size: 0;
}
.window-content .content-wrap i{
    font-size: 2rem;
    color: #333;
    position: fixed;
    right: 2%;
    top: 2%;
    cursor: pointer;
    transition: 0.3s;
}
.window-content .content-wrap i:hover{
    color: #fff;
}
.arrow{
    width: 100%;
    z-index: 99999;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
    right: -76%;
}
.arrow i{
    position: fixed;
    color: #fff;
    font-size: 2.5rem;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.arrow i:first-child{
    left: -54%;
} */
/* .window-arrow i:hover{
    color: orangered;
} */

/* =================== */

/* 젭알 */

.My_work .inner 
.My_work .inner .title .pfNum{width:100%;border-bottom:1px solid black; margin-bottom:15px;}
/* .My_work .inner .title .siteName{margin-top:-10px;} */

/* My_work btn */
.My_work .inner .btn{top:160px;}
.My_work .inner .btn p{position:relative;}
.My_work .inner .btn p:before{content:""; display:block; width:20px; height:10px; border-radius: 10px; transform:rotate(-45deg); text-indent:-9999px; position:absolute; top:21px; left:36px;}

/* tabBox */
.My_work .inner .tabBox{
    width:960px; height:600px;margin:0 auto; border: 1px solid rgb(18, 51, 214);}
.My_work .inner .tabBox li{
    overflow:hidden;
    transition:all 0.3s;
    box-sizing:border-box;
}
.My_work .inner .tabBox li i{display:block;width: 100%;height:100%;text-indent: -9999px;transition:all 0.3s;}
.My_work .inner .tabBox li a{
    transition:all 0.3s;position:relative;z-index: 300;
}
.My_work .inner .tabBox li a span{
    display:block;
    width:100%; height:100%;
    position:absolute; top:0; left:0;
    background:url(../img/hover_more.png);
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size:80px auto;
    padding-top:30%; text-align: center; font-size:18px; opacity:0; transition:all 0.3s; z-index: 400; text-indent:0; color:#fff;}

.My_work .inner .tabBox li:hover i{transform:scale(0.95);}
.My_work .inner .tabBox li:hover span{opacity:1;}


/* posterPage */
/* .My_work .inner .posterPage li{width:440px;height:600px;} */
.My_work .inner .posterPage li{
    width: 280px;
    height: 310px;
    /* margin-bottom: 30px; */
    float: left;
    border: 1px solid #eee;
}
.My_work .inner .posterPage li:nth-child(1){margin-left:30px;}
.My_work .inner .posterPage li:nth-child(2){margin: 0  30px;}
/* .My_work .inner .posterPage li:nth-child(3n){margin-right:0;} */
/* .My_work .inner .posterPage li:nth-child(4){height:310px; margin-bottom:0;} */
/* .My_work .inner .posterPage li:nth-child(5){height:310px; margin-bottom:0;} */
/* .My_work .inner .posterPage li:nth-child(6){height:310px; margin-bottom:0;} */
/* .My_work .inner .posterPage li a{display:block;text-indent:-9999px;width:300px;height:100%;} */
.My_work .inner .posterPage li:nth-child(1) i{
    background:url(../img/etc_work_01_284x400.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.My_work .inner .posterPage li:nth-child(2) i{
    background:url(../img/etc_work-04_284x400.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.My_work .inner .posterPage li:nth-child(3) i{
    background:url(../img/preview-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
/* .My_work .inner .posterPage li:nth-child(2) i{background:url(../images/etc_bnr_02.jpg) no-repeat;}
.My_work .inner .posterPage li:nth-child(3) i{background:url(../images/etc_bnr_03.jpg) no-repeat;}
.My_work .inner .posterPage li:nth-child(4) i{background:url(../images/etc_bnr_04.jpg) no-repeat;}
.My_work .inner .posterPage li:nth-child(5) i{background:url(../images/etc_bnr_05.jpg) no-repeat;}
.My_work .inner .posterPage li:nth-child(6) i{background:url(../images/etc_bnr_06.jpg) no-repeat;} */

/* artPage */
.My_work .inner .artPage{display:none;}
.My_work .inner .artPage li{width:300px; height:235px; margin-right:30px; float:left; border:1px solid #eee;}
.My_work .inner .artPage li:last-child{margin-right:0;}
.My_work .inner .artPage li a{display:block; text-indent:-9999px; width:300px; height:100%;}
/* .My_work .inner .artPage li:nth-child(1) i{background:url(../images/etc_bnr_art_01.jpg) no-repeat;}
.My_work .inner .artPage li:nth-child(2) i{background:url(../images/man_sum.jpg) no-repeat;}
.My_work .inner .artPage li:nth-child(3) i{background:url(../images/etc_bnr_art_03.jpg) no-repeat;} */





/* Hover_btn_color */
.My_work .inner .btn p:hover{border: 1px solid transparent;}

.My_work .inner .btn .btnAll:hover a {background-color: #c3daf6;}
.My_work .inner .btn .btnPoster:hover a {background-color:#4071bf;}
.My_work .inner .btn .btnArt:hover a {background-color:  #4071b4;}



/* =================== */


/* =================== */

/* 7. Contact */

/* =================== */

.contact{
    width: 100%;height:100%;
    background: url(../img/1400X788.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.contact .inner{
    padding: 100px 0;
}
.contact .inner .miniprofile_title{font: bold 38px 'inherit';margin-bottom: 50px;}

.contact .inner .miniprofile{
    font:20px/40px 'inherit';
    text-align: left;
    padding-left: 500px;margin-bottom: 100px;
    color: #fff;
}
.miniprofile ul>li i{font-size: 20px}
.miniprofile ul>li>span{margin-left: 20px;}
.miniprofile ul>li>span>a{color: #fff;}
.contact .inner .copyright{font-size: 14px;line-height: 30px;text-align: center;}




/* 
=========== */

/* #nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#nav.right {
    right: 17px;
}
#nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#nav ul{margin: 0;padding: 0;}
#nav ul li{
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
} */
/* .fp-slidesNav ul li {
    display: inline-block;
} */
/* #nav ul li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#nav ul li a.active span,
#nav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}
#nav ul li a span{
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#nav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
    background-color: orange;
}
#nav ul li a.active span{background-color: orange;}
#nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #333;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#nav ul li:hover .fp-tooltip,
#nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
} */

/* #nav a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
} */
/* #nav ul li .fp-tooltip.right {
    right: 20px;
}
#nav ul li .fp-tooltip.left {
    left: 20px;
} */
/* .fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
} */

/* .fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
} */