@charset "utf-8";
/* CSS Document */
body::-webkit-scrollbar{width:0px; height:0;}
/*
#container, section.main_home .main_slider .item,section{pointer-events:none !important;}
body.init #container, body.init section.main_home .main_slider .item,body.init section{pointer-events:auto !important;}*/
html{background: #fff;}
body{width: 100%; height: 100%;background: #000;}
body #wrap{width: 100%; height: auto;}
body #container{position:relative;background: #f6f6f6;}

.sub_content{width: 100%; padding: 0;}
section{position:relative;width: 100%;box-sizing:border-box;z-index: 10;}
section *{box-sizing:border-box;}
section .txt1{font-size: 20px;color: #555;line-height: 1.65;font-weight: 300;letter-spacing: -0.5px;word-break: keep-all;}
section .inner_wrap{position:relative;min-width: 1300px;max-width: calc(1440px + 136px);padding: 0 68px;margin: 0 auto;}
section .sec_title_g{position: relative;word-break: keep-all;}
section .link_g{position: relative;}
section .link_g .link_btn.type1{position:relative;font-family: 'Lato',sans-serif;display: inline-block;font-size: 17px;color: rgba(255,255,255,0.9);line-height: 1em;text-align: center;padding-bottom: 4px;transition: 0.3s;}
section .link_g .link_btn.type1:after{display:block;content:"";position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;background: #fff;transform: scaleX(1);transform-origin:left;transition: transform 0.7s;}
section .link_g .link_btn.type1:hover:after{transform: scaleX(0);transform-origin: right;}
section .link_g .link_btn.type1 span{display: block;}
section .link_g .link_btn.type1.dark:after{background: rgba(0,0,0,0.9);}
section .link_g .link_btn.type1.dark span{color: rgba(0,0,0,0.9);}
section .link_g .link_btn.type1:hover{opacity:0.5;}



section .link_g .link_btn.type2{transition:0.3s;}
section .link_g .link_btn.type2 button{width:52px;height:52px;display: inline-block;border: 1px solid #fff;border-radius: 50%;vertical-align: top;overflow: hidden;margin-top: -6px;}
section .link_g .link_btn.type2 .txt{font-size: 20px;color: #fff;vertical-align: top;margin-right: 30px;line-height: 2;}
section .link_g .link_btn.type2 .arrow{position: relative;width: 200%;display: inline-block;overflow: hidden;vertical-align: top;margin: 0;}
section .link_g .link_btn.type2 .arrow figure{position: relative;transform: translate3d(-50%,0,0);vertical-align: top;display: flex;width: 100%;height: 100%;margin: 4px 0 0 0;}
section .link_g .link_btn.type2 .arrow span{position: relative;width: 50%;height: 10px;display: block;margin: 0 17px;}
section .link_g .link_btn.type2 .arrow span:before{display:block;content:"";position: absolute;top: 4px;left: 0;width: 100%;height: 1px;background: #fff;}
section .link_g .link_btn.type2 .arrow span:after{display:block;content:"";position: absolute;top: 1px;right: 1px;width: 6px;height: 6px;border: 1px solid #fff;border-top: 0;border-left: 0;transform: rotate(-45deg);}
section .link_g .link_btn.type2:hover .arrow figure{transform:translate3d(0%,0,0); transition:0.5s;}
section .link_g .link_btn.type2:hover{opacity:0.5;}



.slick-prev, .slick-next{position: absolute;top: 50%;left: -74px;width: 34px;height: 64px;background-image: none !important;margin-top: -32px;font-size: 0;outline:0;transform: inherit;z-index: 100;}
.slick-prev:before,.slick-next:before{display: block;content:"";position: absolute;top: 9px;left: 10px;width: 44px;height: 44px;border: 1px solid #000;border-top: 0;border-left: 0;transform: rotate(135deg);}
.slick-next{left: auto;right: -74px;}
.slick-next:before{transform: rotate(-45deg);left: -21px;}




section.main_home{height: 100vh;overflow: hidden;background: #000;}
section.main_home .main_slider{position:absolute;top:0;left: 0;z-index:0;}
section.main_home .main_slider,
section.main_home .main_slider .item,
section.main_home .main_slider .img{width: 100%;height: 100%;}
section.main_home .main_slider .swiper-wrapper{position:relative;width:100%;height: 100% !important;}
section.main_home .main_slider .item{position:relative;width: 100%;height: 100%;overflow:hidden;display: flex;flex-wrap: wrap;align-items: center;}
section.main_home .main_slider .bg_g{position: absolute;width: 100%;height: 100%; top:0;left: 0;z-index: 0; }
section.main_home .main_slider .bg_g .img{position: relative;width: 100%;height: 100%;transform: scale(1.05);transition:2.5s;}
section.main_home .main_slider .swiper-slide-active .bg_g .img{transform:scale(1);}
section.main_home .main_slider .text_g{position: relative;top: 0;left: 0;text-align: center;width: 100%;padding: 0 200px;color: #fff;word-break: keep-all;margin: 30px auto 0;z-index: 10;}
section.main_home .main_slider .text_g .g{opacity:0;}
section.main_home .main_slider .swiper-slide-active .text_g .g{opacity:1; transition:0.5s;}
section.main_home .main_slider .text_g .title1{font-family: 'STIX Two Text', serif;font-size: 30px;line-height: 1.1;font-weight: 100;margin-bottom: 20px;}
section.main_home .main_slider .text_g .title1 p{letter-spacing: 0px;opacity: 0;}
section.main_home .main_slider .swiper-slide-active .text_g .title1 p{letter-spacing:0px;opacity: 1;transition: 1.5s;}
section.main_home .main_slider .text_g .title1 p{width: ;}
section.main_home .main_slider .text_g .title2{font-family: 'STIX Two Text', serif;font-size: 120px;margin-bottom: 17px;line-height: 1;}
/*section.main_home .main_slider .text_g .title2{opacity:0; filter:blur(20px);}
section.main_home .main_slider .swiper-slide-active .text_g .title2{opacity:1; filter:blur(0px);transition:2s 0.2s;}*/
section.main_home .main_slider .text_g .title2 p{position: relative;display: inline-block;line-height: 1;overflow: hidden;}
section.main_home .main_slider .text_g .title2 p span{display:block;}
section.main_home .main_slider .text_g .title2 p span + span{position: absolute;top: 100%;left: 0;margin-top: -5px;}

section.main_home .main_slider .text_g .txt1{font-size: 20px;color: rgba(255,255,255,0.9);font-weight: 300;margin-top: 25px;}
section.main_home .main_slider .text_g .link_g{margin-top: 27px;}
section.main_home .arrows{position: absolute;top: 0;left: 0;width: 100%;z-index: 20;}
section.main_home .arrows .arrow{position: absolute;top: 50vh;left: 92px;width: 24px;height: 50px;margin-top: -25px;display: block !important;z-index: 20; opacity:0;}
section.main_home .arrows .arrow:before{display: block;content:"";position: absolute;top: 0;left: 24px;width: 34px;height: 34px;border: 1px solid #fff;transform: rotate(45deg);vertical-align: top;transform-origin: left top;border-top: 0;border-right: 0;}
section.main_home .arrows .arrow.prev{width: 24px;}
section.main_home .arrows .arrow.next{right: 92px;left: auto;}
section.main_home .arrows .arrow.next:before{display: block;content:"";transform: rotate(-135deg);transform-origin: left bottom;top: -10px;}



section.Introduce{padding-top: 197px;padding-bottom: 250px;text-align: center;}
section.Introduce .sec_title_g .title1{position: relative;font-size: 70px;color: #000;font-family: 'STIX Two Text',sans-serif;/* overflow: hidden; */line-height: 0.8;vertical-align: top;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;}
section.Introduce .sec_title_g .title1 > div{display:inline-block;vertical-align:top;overflow:hidden;}
section.Introduce .sec_title_g .title1 p{position: relative;display: inline-block;vertical-align: top;transform: translate3d(0,0%,0);opacity:0;transition: 1.1s ease-in-out;}
section.Introduce .sec_title_g .title1 p:nth-child(4n-3){transition-delay:0.3s;}
section.Introduce .sec_title_g .title1 p:nth-child(4n-2){transition-delay:0.4s;}
section.Introduce .sec_title_g .title1 p:nth-child(4n-1){transition-delay:0.6s;}
section.Introduce .sec_title_g .title1 p:nth-child(4n){transition-delay:0.8s;}
/*section.Introduce .sec_title_g .title1 p:nth-child(8n-7){transition-delay:0.2s;}
section.Introduce .sec_title_g .title1 p:nth-child(8n-6){transition-delay:0.3s;}
section.Introduce .sec_title_g .title1 p:nth-child(8n-5){transition-delay:0.5s;}
section.Introduce .sec_title_g .title1 p:nth-child(8n-4){transition-delay:0.7s;}
section.Introduce .sec_title_g .title1 p:nth-child(8n-3){transition-delay:0.9s;}
section.Introduce .sec_title_g .title1 p:nth-child(8n-2){transition-delay:1.1s;}
section.Introduce .sec_title_g .title1 p:nth-child(8n-1){transition-delay:1.3s;}
section.Introduce .sec_title_g .title1 p:nth-child(8n){transition-delay:1.5s;}*/
section.Introduce .sec_title_g .title1{opacity:0;transform:translate3d(0,60px,0);}
section.Introduce .sec_title_g.is-inview .title1{opacity:1; transition:1.2s;transform:translate3d(0,0px,0);}
section.Introduce .sec_title_g.is-inview .title1 p{transform: translate3d(0,100%,0); opacity:1;}
section.Introduce .sec_title_g .title1 span{display: block;vertical-align: top;line-height: 0.88;padding-top: 4px;}
section.Introduce .sec_title_g .title1 span + span{position: absolute;top: -100%;left: 0;}
section.Introduce .sec_title_g .title2{font-size: 22px;color: #000;font-weight: 500;letter-spacing: -0.25px;margin-top: 18px; opacity:0;transform:translate3d(0,40px,0);}
section.Introduce .sec_title_g.is-inview .title2{opacity:1; transform:translate3d(0,0px,0); transition:1.2s 0.3s;}
section.Introduce .sec_title_g .txt1{color: #777777;margin-top: 35px;}
section.Introduce .sec_title_g .txt1 p{opacity:0;transform:translate3d(0,40px,0);}
section.Introduce .sec_title_g.is-inview .txt1 p{opacity:1; transition:1.2s 0.5s;transform:translate3d(0,0px,0);}
section.Introduce .sec_title_g.is-inview .txt1 p + p{transition-delay:0.6s;}


section.best_product{width: ;}
section.best_product .contents{min-height: 732px;}
section.best_product .prod_slider{position: relative;width: 50%;left: 0;margin: 0;}
section.best_product .prod_info{position: relative;text-align: left;word-break: keep-all;padding-right: 10%;padding-top: 45px;}
section.best_product .prod_info{opacity:0;}
section.best_product .prod_info.is-inview{opacity:1; transition:1.2s 0.2s;}
section.best_product .prod_info,
section.best_product .prod_info .slick-list,
section.best_product .prod_info .slick-track,
section.best_product .prod_info .item{overflow: inherit !important;}
section.best_product .prod_info .item{width: 100%;}
section.best_product .prod_info .cate{font-size: 30px;color: #c6b9ae;font-family: 'STIX Two Text',sans-serif;line-height: 1;margin-bottom: 45px;overflow: hidden;}
/*section.best_product .prod_info .cate p{position: relative;display: inline-block;vertical-align: top;transform: translate3d(0,0%,0); opacity:0; transition: 1.1s ease-in-out;}
section.best_product .prod_info .cate p:nth-child(6n-5){transition-delay:0.3s;}
section.best_product .prod_info .cate p:nth-child(6n-4){transition-delay:0.5s;}
section.best_product .prod_info .cate p:nth-child(6n-3){transition-delay:0.7s;}
section.best_product .prod_info .cate p:nth-child(6n-2){transition-delay:0.9s;}
section.best_product .prod_info .cate p:nth-child(6n-1){transition-delay:1.1s;}
section.best_product .prod_info .cate p:nth-child(6n){transition-delay:1.3s;}
section.best_product .prod_info.is-inview .cate p{transform: translate3d(0,100%,0); opacity:1;}
section.best_product .prod_info .cate span{display: block;vertical-align: top;line-height: 0.88;padding-top: 2px;}
section.best_product .prod_info .cate span + span{position: absolute;top: -100%;left: 0;}*/
section.best_product .prod_info .title{max-width: 550px;font-size: 90px;color: #000000;font-family: 'STIX Two Text',sans-serif;line-height: 1.05;}
section.best_product .prod_info .title{opacity:0; }
section.best_product .prod_info.is-inview .on .title{opacity:1; transition:1.5s;}
section.best_product .prod_info .title .e_{-webkit-line-clamp: 4;}
section.best_product .sub_text{padding-top: 40px;}
section.best_product .sub_text .text1 .tit{font-size: 25px;color: #000;font-weight: 500;letter-spacing: -0.5px;vertical-align: top;display: inline;margin-right: 18px;}
section.best_product .sub_text .text1{opacity:0; transform:translate3d(0,20px,0);}
section.best_product .prod_info.is-inview .on .sub_text .text1{opacity:1; transform:translate3d(0,0px,0); transition:1s 0.5s;}
section.best_product .sub_text .text1 .star{position: relative;vertical-align: top;display: inline-block;width: 108px;height: 20px;margin: 0 13px 0 0;top: 7px;background: url('../../img/main/star_bg.png')no-repeat left top;}
section.best_product .sub_text .text1 .star span{display: inline-block;vertical-align: top;background: url('../../img/main/star.png')no-repeat left top;width: 100%;height: 100%;}
section.best_product .sub_text .text1 .review{vertical-align: top;font-size: 16px;color: #666666;font-weight: 300;line-height: 1.2;margin-top: 8px;display: inline-block;}
section.best_product .sub_text .txt1{max-width:400px;margin-top: 25px;}
section.best_product .sub_text .txt1 .e_{-webkit-line-clamp: 2;}
section.best_product .sub_text .txt1{opacity:0; transform:translate3d(0,20px,0);}
section.best_product .prod_info.is-inview .on .sub_text .txt1{opacity:1; transform:translate3d(0,0px,0); transition:1s 0.6s;}
section.best_product .link_g{margin-top: 40px;}
section.best_product .sub_text .link_g{opacity:0; transform:translate3d(0,20px,0);}
section.best_product .prod_info.is-inview .on .sub_text .link_g{opacity:1; transform:translate3d(0,0px,0); transition:1s 0.7s;}



section.best_product .prod_img{position: absolute;width: 100vw;top: 0;left: 50%;padding-left: 15px;z-index: 10;}
section.best_product .prod_img .item.on{opacity: 1;}
section.best_product .prod_img .item{opacity: 0.3;transition: 0.3s;}
section.best_product .prod_img .item img{display: block; margin: 0 auto;max-width:100%;}

section.best_product .prod_bg{position: absolute;top: 0;left: auto;right: 34px;width: calc(50% - 34px);padding-left: 15px;padding-right: 115px;z-index: 0;transform-origin: center center;}
section.best_product .prod_bg .item{border-top-left-radius: 50vh;border-top-right-radius: 50vh;overflow: hidden;width: 100%;}
section.best_product .prod_bg .item img{width: 100%;}
section.best_product .arrows{position: absolute;top: 0;left: auto;right: 34px;width: 50%;height: 100%;margin-right: 34px;}
section.best_product .arrows .arrow{position: absolute;width: 45px;height: 92px;top: 50%;left: calc(-33px + 4px);left: 0;transform: translateY(-50%);margin-top: 90px;transition: 0.4s;display: block !important;z-index: 30;}
section.best_product .arrows .arrow:before{display: block;content: "";position: absolute;top: 0;left: 45px;width: 64px;height: 64px;border: 1px solid #000;transform: rotate(45deg);vertical-align: top;transform-origin: left top;border-top: 0;border-right: 0;}.best_product .arrows .arrow.next{left: auto;right: 0;}
section.best_product .arrows .arrow.next:before{display: block;content: "";transform: rotate(-135deg);transform-origin: left bottom;top: -19px;left: 46px;}
section.best_product .arrows .arrow:hover{opacity:0.3;}


section.best_product .prod_img{opacity:0; transform:translate3d(100px,0,0);}
section.best_product .arrows{opacity:0;}
section.best_product .prod_img.is-inview{opacity:1; transform:translate3d(0px,0,0); transition:1.2s 0.2s;}
section.best_product .arrows.is-inview{opacity:1; transition:1s 0.7s;}
section.best_product .prod_bg{opacity:0; transform:scale(0.75);}
section.best_product .prod_bg.is-inview{opacity:1; transform:scale(1); transition:1s 0.5s;}
section.best_product .prod_bg .item img{transform:scale(1.35);transform-origin: center center;}
section.best_product .prod_bg.is-inview .item img{transform:scale(1); transition:1s 0.5s;}




section.collection{padding-top: 250px;padding-bottom: 250px;}
section.collection .con{position:relative;}
section.collection .sec_title_g{text-align: center;margin-bottom: 60px;padding-top: 120px;}
section.collection .sec_title_g .cate{position:relative;font-size: 90px;color: #000;font-family: 'STIX Two Text',sans-serif;line-height: 0.8;overflow:hidden;}
section.collection .sec_title_g .cate p{position: relative;display: inline-block;vertical-align: top;transform: translate3d(0,0%,0); opacity:0; transition: 0.8s ease-in-out;}
section.collection .sec_title_g .cate p:nth-child(6n-4){transition-delay:0.1s;}
section.collection .sec_title_g .cate p:nth-child(6n-3){transition-delay:0.3s;}
section.collection .sec_title_g .cate p:nth-child(6n-2){transition-delay:0.5s;}
section.collection .sec_title_g .cate p:nth-child(6n-1){transition-delay:0.7s;}
section.collection .sec_title_g .cate p:nth-child(6n){transition-delay:0.9s;}
section.collection .sec_title_g.is-inview .cate p{transform: translate3d(0,100%,0); opacity:1;}
section.collection .sec_title_g .cate span{display: block;vertical-align: top;line-height: 0.88;padding-top: 2px;}
section.collection .sec_title_g .cate span + span{position: absolute;top: -100%;left: 0;}
section.collection .tabs{position: relative;width: 100%;display: flex;flex-wrap: wrap;justify-content: center;margin-bottom: 90px;}
section.collection .tabs li{position: relative;margin: 0 80px;}
section.collection .tabs li button{position: relative;font-size: 25px;color: rgba(0,0,0,0.75);font-family: 'Lato','Noto Sans KR',sans-serif;text-transform: uppercase;word-break: keep-all;line-height: 1em;padding: 0 5px 8px 5px;}
section.collection .tabs li.on button{color:#000;transition:0.3s;font-weight: 600;}
section.collection .tabs li button:after{display: block;content: "";position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;background: #000;transform: scaleX(0);transform-origin: right;transition: transform 0.7s;}
section.collection .tabs li.on button:after{transform: scaleX(1);transform-origin: left;}
section.collection .tabs li{opacity:0;}
section.collection .tabs.is-inview li{opacity:1; transition:1.5s;}

section.collection .collection_slider{position: relative;width: calc(100% + 12px);left: -6px;z-index: 0;}
section.collection .slider_wrap .item{margin: 0 40px;}
section.collection .con{opacity:0;}
section.collection .con.is-inview{opacity:1; transition:1.5s;}
section.collection .slider_wrap .item a{display: block;width: 100%;height: 100%;}
section.collection .slider_wrap .thumbnail{position: relative;width: 100%;height: 0;padding-top: 100%;overflow: hidden;}
section.collection .slider_wrap .thumbnail .img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: block;z-index: 0;transition: 0.5s;}
section.collection .slider_wrap .thumbnail .img img{width:100%;}
section.collection .slider_wrap .thumbnail .img:not(.img_h){z-index: ;}
section.collection .slider_wrap .thumbnail .img_h{opacity: 0;z-index: 1;}
section.collection .slider_wrap .item:hover .thumbnail .img:not(.img_h){opacity:0;}
section.collection .slider_wrap .item:hover .thumbnail .img_h{opacity:1; }
section.collection .slider_wrap .info{position: relative;padding: 33px 20px 0 20px;}
section.collection .slider_wrap .info .tit{font-size: 26px;color: #000;font-weight: 500;letter-spacing: -0.5px;}
section.collection .slider_wrap .info .price{font-size: 20px;color: #000;font-weight: 400;line-height: 1em;margin-top: 15px;}
section.collection .arrows{position: absolute;top: 0;left: 50%;width: 33.33333%;height: 0;transform: translateX(-50%);z-index: 0;}
section.collection .arrows .arrow{position: absolute;width: 24px;height: 50px;top: 175px;left: calc(-33px + 4px);left: -16px;transition: 0.4s;display: block !important;z-index: 30;}
section.collection .arrows .arrow.next{left:auto;right: -16px;}
section.collection .arrows .arrow:before{display: block;content: "";position: absolute;top: 0;left: 24px;width: 34px;height: 34px;border: 1px solid #000;transform: rotate(45deg);vertical-align: top;transform-origin: left top;border-top: 0;border-right: 0;}.best_product .arrows .arrow.next{left: auto;right: 0;}
section.collection .arrows .arrow.next:before{display: block;content: "";transform: rotate(-135deg);transform-origin: left bottom;top: -10px;left: 25px;}
section.collection .arrows .arrow:hover{opacity:0.3;}


section.promotion{padding: 480px 0 340px;overflow: hidden;}
section.promotion .bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index: -1;}
section.promotion .bg .img{position:relative;width: 100%;height: 100%;margin-top: -28%;z-index: 0;}
section.promotion .contents{z-index:10;margin-top: 240px;}
section.promotion .move_g{position: relative;z-index: 10;}
section.promotion .move_g .move_text{position: relative;width: 1920px;font-size: 200px;color: #ffffff;font-family: 'STIX Two Text',sans-serif;line-height: 1em;}
section.promotion .move_g .m_t2{text-align: right;margin-top: 60px;left: -100px;}
section.promotion .con{width: ;}
section.promotion .con .thumbnail{width: 100%;height: 600px;border-radius: 22px;overflow: hidden;}
/*.promotion .con .thumbnail{opacity:0; transform:scale(0.85);}
.promotion .con .is-inview .thumbnail{opacity:1; transform:scale(1); transition:2s 0.5s;}*/
section.promotion .con .thumbnail .img{width: 100%;height: 100%;}
section.promotion .con .info{width: 100%;word-break: keep-all;padding-top: 40px;}
section.promotion .con .info .title{max-width: 385px;font-size: 26px;color: #fff;font-weight: 400;letter-spacing: -0.5px;}
section.promotion .con .info .title .e_{-webkit-line-clamp: 2;}
section.promotion .con .info .link_g{margin-top: 35px;}
section.promotion .con .main_item{width: 100%;display: flex;flex-wrap: wrap;}
section.promotion .con .main_item .thumbnail{width: 996px;height: 666px;}
section.promotion .con .main_item .info{width: calc(100% - 996px);display: flex;flex-wrap: wrap;flex-direction: column;justify-content: flex-end;padding-left: 90px;padding-bottom: 25px;}
section.promotion .con .main_item .info .link_g{width: ;}
section.promotion .con .list_wrap{margin-top: 270px;display: flex;flex-wrap: wrap;}
section.promotion .con .list_wrap li{width: calc(33.3333333% - 23.33333333333333px);}
section.promotion .con .list_wrap li{opacity:0;transform: translate3d(0,0px,0);}
section.promotion .con .list_wrap li.is-inview{opacity:1;transform:translate3d(0,0px,0);transition:1.4s;}
section.promotion .con .list_wrap li:nth-child(2){transition-delay:0.3s;}
section.promotion .con .list_wrap li:nth-child(3){transition-delay:0.6s;}
section.promotion .con .list_wrap li + li{margin-left: 35px;}
section.promotion .sec_title_g{padding-top: 200px;}
section.promotion .sec_title_g .cate{font-size: 200px;color: #fff;font-family: 'STIX Two Text',sans-serif;line-height: 0.8;overflow: hidden;padding-top: 2px;}
section.promotion .sec_title_g .cate p{position: relative;display: inline-block;vertical-align: top;transform: translate3d(0,0%,0); opacity:0; transition: 1.2s ease-in-out;}

section.promotion .sec_title_g .cate p:nth-child(6n-5){transition-delay:0.3s;}
section.promotion .sec_title_g .cate p:nth-child(6n-4){transition-delay:0.4s;}
section.promotion .sec_title_g .cate p:nth-child(6n-3){transition-delay:0.6s;}
section.promotion .sec_title_g .cate p:nth-child(6n-2){transition-delay:0.8s;}
section.promotion .sec_title_g .cate p:nth-child(6n-1){transition-delay:1s;}
section.promotion .sec_title_g .cate p:nth-child(6n){transition-delay:1.2s;}
/*.promotion .sec_title_g .cate p:nth-child(7n-6){transition-delay:0.3s;}
.promotion .sec_title_g .cate p:nth-child(7n-5){transition-delay:0.5s;}
.promotion .sec_title_g .cate p:nth-child(7n-4){transition-delay:0.7s;}
.promotion .sec_title_g .cate p:nth-child(7n-3){transition-delay:0.9s;}
.promotion .sec_title_g .cate p:nth-child(7n-2){transition-delay:1.1s;}
.promotion .sec_title_g .cate p:nth-child(7n-1){transition-delay:1.3s;}
.promotion .sec_title_g .cate p:nth-child(7n){transition-delay:1.5s;}*/
section.promotion .sec_title_g.is-inview .cate p{transform: translate3d(0,100%,0); opacity:1;}
section.promotion .sec_title_g .cate span{display: block;vertical-align: top;line-height: 0.9;}
section.promotion .sec_title_g .cate span + span{position: absolute;top: -100%;left: 0;}
section.promotion .sec_title_g .link_g{margin-top: 50px;opacity:0; transform:translate3d(0,10px,0);}
section.promotion .sec_title_g .link_g.is-inview{opacity:1; transform:translate3d(0,0px,0); transition:1.1s 0.5s;}


section.our_shop{background:#000;padding-top: 210px;transition:1s;}
section.our_shop .contents{width: ;}
section.our_shop .sec_title_g{margin-bottom: 80px;}
section.our_shop .sec_title_g .g{display: flex;flex-wrap: wrap;width: 100%;}
section.our_shop .sec_title_g .cate{font-size: 30px;color: #e4d7c9;font-family: 'STIX Two Text',sans-serif;margin-bottom: 23px;line-height: 1em;overflow: hidden;}
section.our_shop .sec_title_g .cate p{position: relative;display: inline-block;vertical-align: top;/*transform: translate3d(0,0%,0); opacity:0; transition: 1.1s ease-in-out;*/}
section.our_shop .sec_title_g .cate p:nth-child(4n-3){transition-delay:0.2s;}
section.our_shop .sec_title_g .cate p:nth-child(4n-2){transition-delay:0.4s;}
section.our_shop .sec_title_g .cate p:nth-child(4n-1){transition-delay:0.6s;}
section.our_shop .sec_title_g .cate p:nth-child(4n){transition-delay:0.8s;}
/*section.our_shop .sec_title_g .cate.is-inview p{transform: translate3d(0,100%,0); opacity:1;}*/
section.our_shop .sec_title_g .cate span{display: block;vertical-align: top;line-height: 0.88;}
section.our_shop .sec_title_g .cate span + span{position: absolute;top: -105%;left: 0;}
section.our_shop .sec_title_g .g .title{font-size: 50px;color: #ffffff;font-family: 'STIX Two Text',sans-serif;margin-right: 53px;line-height: 1.3;}
section.our_shop .sec_title_g .g .txt1{color: rgba(255,255,255,0.6);margin-top: 19px;font-weight: 200;}
section.our_shop .sec_title_g{opacity:0;transform:translate3d(0px,0px,0); filter: blur(0px);}
section.our_shop .sec_title_g.is-inview{opacity:1;transform:translate3d(0,0px,0); filter: blur(0px); transition:1.5s;}
section.our_shop .con{width: 100%;position: relative;top: 1px;}
section.our_shop .con .list_wrap{width: 33.33333%;margin: 0 auto;overflow: inherit;}
section.our_shop .con .list_wrap .slick-list,section.our_shop .con .list_wrap .slick-track{padding:0 !important;overflow: inherit;}
section.our_shop .slick-prev:before, section.our_shop .slick-next:before{border-color:#fff;}
section.our_shop .con .list_wrap li.slick-slide{position: relative;width: auto;height: 719px;text-align: center;color: #fff;opacity: 1 !important;overflow: hidden;}
section.our_shop .con .list_wrap li.slick-slide a{display: flex;flex-wrap: wrap;align-items: center;justify-content: center;width: 100%;height: 100%;}
section.our_shop .con .list_wrap li.slick-slide .bg{position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0.6;z-index: 0;transition: 0.5s;}
section.our_shop .con .list_wrap li.slick-slide .title_g{position: relative;width: 100%;padding: 0 40px;opacity: 0;/* transition: 0.5s; */z-index: 10;transform: translate3d(0,25px,0);}
section.our_shop .con .list_wrap li.slick-slide .title_g .title{font-size: 30px;color: #ffffff;word-break: keep-all;letter-spacing: -0.5px;font-weight: 400;}
section.our_shop .con .list_wrap li.slick-slide .title_g .title_en{font-size: 51px;color: #fff;font-family: 'Lato',sans-serif;word-break: keep-all;line-height: 1.2;margin-top: 16px;}
section.our_shop .con .list_wrap li.slick-slide.slick-center .bg{opacity:1;transform: scale(1.1);transition: 2s 0.7s;}
section.our_shop .con .list_wrap li.slick-slide.slick-center .title_g{opacity:1;transform:translate3d(0,0px,0);transition: 1.3s 1s;}

section.instagram{background: #000000;padding: 215px 0 280px;}
section.instagram:after{display: block;content: "";position: absolute;bottom: -1px;left: 0;width: 100%;height: 2px;background: #000;}
section.instagram .sec_title_g .name{font-size: 35px;color: #ffffff;font-family: 'STIX Two Text',sans-serif;margin-bottom: 40px;line-height: 0.8;overflow: hidden;}
section.instagram .sec_title_g{opacity:0;transform:translate3d(0px,0px,0); filter: blur(0px);}
section.instagram .sec_title_g.is-inview{opacity:1;transform:translate3d(0,0px,0); filter: blur(0px); transition:1.5s;}
section.instagram .sec_title_g .title{font-size: 50px;color: #fff;font-family: 'STIX Two Text',sans-serif;word-break: keep-all;overflow: hidden;line-height: 1.05;}
section.instagram .sec_title_g .name p{position: relative;display: inline-block;vertical-align: top;/*transform: translate3d(0,0%,0); opacity:0; transition: 0.9s ease-in-out;*/}
section.instagram .sec_title_g .name p:nth-child(6n-5){transition-delay:0.4s;}
section.instagram .sec_title_g .name p:nth-child(6n-4){transition-delay:0.6s;}
section.instagram .sec_title_g .name p:nth-child(6n-3){transition-delay:0.8s;}
section.instagram .sec_title_g .name p:nth-child(6n-2){transition-delay:1s;}
section.instagram .sec_title_g .name p:nth-child(6n-1){transition-delay:1.2s;}
section.instagram .sec_title_g .name p:nth-child(6n){transition-delay:1.4s;}
/*section.instagram .sec_title_g.is-inview .name p{transform: translate3d(0,100%,0); opacity:1;}*/
section.instagram .sec_title_g .name span{display: block;vertical-align: top;line-height: 1;padding-top: 4px;}
section.instagram .sec_title_g .name span + span{position: absolute;top: -100%;left: 0;}

section.instagram .con{margin-top: 65px;}
section.instagram .inso_widget_area_1{position: relative;width: calc(100% + 15px);left: 0;}
section.instagram .inso_widget_data_1{display: flex;background:transparent !important;/* flex-wrap: wrap; */}
section.instagram .logo{position: absolute;bottom: 28px;left: 100px;width: 100vw;height: 562px;z-index: -1;/* transform: inherit !important; */}
section.instagram .logo svg{position: absolute;top: 0;left: -100px;width: 100%;height: 100%;}
section.instagram .logo svg *{fill: transparent;stroke: rgba(255,255,255,.2);stroke-width: .06;}
section.instagram .inso_widget_area_1{opacity:0;}
section.instagram .con.is-inview .inso_widget_area_1{opacity:1; transition:2s;}
section.instagram .inso_widget_area_1 a{background:#000;display: block;transform: translate3d(0,100%,0);transition: 0.8s 0.5s; opacity:0;}
section.instagram .con.is-inview .inso_widget_area_1 a{transform:translate3d(0,0,0); opacity:1;}
section.instagram .inso_widget_area_1 a:nth-child(5n-4){transition-delay:0.6s;}
section.instagram .inso_widget_area_1 a:nth-child(5n-3){transition-delay:0.7s;}
section.instagram .inso_widget_area_1 a:nth-child(5n-2){transition-delay:0.8s;}
section.instagram .inso_widget_area_1 a:nth-child(5n-1){transition-delay:0.9s;}
section.instagram .inso_widget_area_1 a:nth-child(5n){transition-delay:1s;}
section.instagram .inso_widget_area_1 a:first-child img{margin-left:0 !important;}
section.instagram .inso_widget_area_1 a img{transition:0.5s;}


/*125%*/
@media(max-width:1670px){
	section.main_home .main_slider .text_g .title1{font-size: 20px;}
	section.main_home .main_slider .text_g .title2{font-size: 95px;}
	section .txt1{font-size: 16px;}
	section.main_home .main_slider .text_g .txt1{font-size: 16px;}
	section .link_g .link_btn.type1{font-size: 13px;}
	section.best_product .prod_info{padding-top:90px;}
	section.best_product .prod_info .cate{font-size:28px;}
	section.best_product .prod_info .title,
	section.collection .sec_title_g .cate{font-size:84px;}
	section.best_product .sub_text .text1 .tit{font-size:22px;}
	section.collection .tabs li button{font-size: 19px;padding-bottom: 5px;}
	section.collection .tabs li{margin:0 60px;}
	section.collection .slider_wrap .info .tit{font-size:24px;}
	section.collection .slider_wrap .info .price{font-size:18px;}
	section.collection{padding-top:320px;}
	section.promotion .move_g .move_text{font-size:170px;}
	section.promotion .move_g .move_text.m_t2{left: -450px;}
	section.promotion .con .info .title{font-size:24px;}
	section.promotion{padding-top:400px;}
	section.promotion .sec_title_g .cate{font-size:170px;}
	section .link_g .link_btn.type2 .txt{font-size:18px;}
	section.our_shop .con .list_wrap li .title_g .title{font-size:24px;}
	section.our_shop .con .list_wrap li .title_g .title_en{font-size:40px;}
	section.our_shop .con .list_wrap li.slick-slide{height:580px;}
}
@media(max-width:1550px){
section.promotion .con .main_item .thumbnail{width: 900px;}
section.promotion .con .main_item .info{width: calc(100% - 900px);}
}
