*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{margin: 0; padding: 0; box-sizing: border-box;}
li, ul, ol{list-style: none;}
a{text-decoration: none;}

/* 공통영역 */
.content{width: 100%; padding: 150px 0}
.inner{width: 1170px; margin: 0 auto; }
.wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.title{font: bold 24px 'Noto Sans KR'; color: #333; text-align: center; margin: 0 0 40px}
.sub_title{font: 16px 'Noto Sans KR';letter-spacing: 1px ;text-transform: uppercase;color: #07604f;text-align: center;margin: 10px 0;}
.review .review_star .rating .star{width: 0;overflow: hidden}

body {font-family: 'Noto Sans KR', sans-serif;
    transition: 0.3s ease-out;
    overflow-x: hidden;
}


@media screen and (max-width : 1200px){
    .inner{width: 100%;}
    .content{width: 100%; padding: 120px 40px}
}

@media screen and (max-width : 960px){
    #title{font-size: 20px; margin: 0 0 30px;}
    #sub_title{font-size: 14px}
    
}
@media screen and (max-width : 860px){

}
@media screen and (max-width : 768px){
    .content{padding: 80px 40px}
    #title{font-size: 16px}
    #sub_title{font-size: 10px}

}
@media screen and (max-width : 480px){
    #title{margin: 0 0 20px;}
}
@media screen and (max-width : 360px){

}
/* =================== */


/* 1.header - nav  */
.header{width: 100%;position: fixed; top: 0; z-index: 2;background: #fff;box-shadow:0 0 5px #ddd;}
.header .inner{height: 100px; display: flex; justify-content: space-between; align-items: center; }


.header .toggle{display: none;}

.header .inner .gnb_wrap{display: flex; flex-wrap: wrap; justify-content: flex-end;}
.header .inner .logo{}
.header .inner .logo>a{
    display: block;width: 140px;height: 140px;
    background: url('img/sweetbalancelogo.png') center no-repeat;
    background-size: cover;font-size: 0;color: transparent;text-indent: -9999px;
}

.header .gnb_wrap{align-items: center;}

.header .gnb_wrap .global_menu{margin-top: 20px; display: flex; justify-content: flex-end;  flex-wrap: wrap;}
.header .gnb_wrap .global_menu>li{}
.header .gnb_wrap .global_menu>li>a{padding: 0 10px; font: 12px/20px 'Noto Sans KR'; color: #666;}

.header .gnb_wrap .search_area{margin-top: 10px;margin-right: 15px;}

.header .gnb_wrap .gnb{display: flex; justify-content: flex-end; flex-wrap: wrap;}
.header .gnb_wrap .gnb>li{position: relative;}
.header .gnb_wrap .gnb>li>a{display: block;padding: 0 30px; font: 14px/60px 'Noto Sans KR'; color: #333;}

.header .gnb_wrap .gnb>li>.submenu{
    display: none;position: absolute; top: 58px; left: 50%; transform: translateX(-50%);
    width: 160px;text-align: center;background-color: #ddd;overflow: hidden;
}
.header .gnb_wrap .gnb>li.on>.submenu{display: block;}
.header .gnb_wrap .gnb>li>.submenu>li{}
.header .gnb_wrap .gnb>li>.submenu>li>a{font: 13px/30px 'Noto Sans KR'; color: #333;}
.header .gnb_wrap .gnb>li>.submenu>li:hover{width:100%;background-color: #07604f}
.header .gnb_wrap .gnb>li>.submenu>li:hover>a{color: #fff;}


@media screen and (max-width : 960px){
    .header{padding: 10px 40px; background-color: #fff;box-shadow:0 0 5px #ddd ;}
    .header .inner{height: 80px;}
    .header .inner .logo>a{width: 120px;height: 120px}
    .header .global_menu{margin-top: 15px;}
    .header .gnb>li>a{padding: 0 20px; line-height: 45px;}
    .header .gnb>li>.submenu{top: 45px;}

    .header::before{content: '';
        width: 100%; height: 100vh;
        position: fixed; left: 0; top: 100px;
        background-color: rgba(0,0,0,0.7);
        opacity: 0; visibility: hidden; transition: 0.4s;
    }
    .header.on::before{opacity: 1; visibility: visible;}


    .header .toggle{
        display: block;
        position: fixed; right: 40px; top: 30px; 
        font-size: 28px; color: #333;
        background-color: transparent; text-align: center;
        border: 0; outline: 0; cursor: pointer
    }
    .header .global_menu>li>a{padding: 0;}
    .header .global_menu{justify-content: left;}
    .header .inner .gnb_wrap{display: block;justify-content: flex-start;padding: 0 0 0 40px}
    .header .gnb_wrap .search_area {display: block;margin-top: 0;}
    .header .gnb_wrap .search_area input{display:inline-block;}
    .header .gnb_wrap{
        position: fixed; right: -250px; top: 100px;
        width: 250px; height: 100%; background-color: #eee;
        transition: 0.5s;
    }
    .header .gnb_wrap.on{right: 0;}

    .header .global_menu>li{width:100%;}
    .header .gnb_wrap .global_menu>li>a{padding: 0;color: #666;}
    .header .gnb_wrap .gnb>li>a{color: #333;}

    .header .gnb>li{width:100%;}
    .header .gnb>li>a{color: black;}
    .header .gnb_wrap .gnb>li>a{padding: 0;}

    .header .gnb_wrap .gnb>li>.submenu{position:static;width:300px;transform: translateX(-40px);}
    .header .gnb_wrap .gnb>li>.submenu>li{padding-left: 60px;text-align: left;}
}
@media screen and (max-width : 768px){
    .header .gnb_wrap{width: 240px;}
    .header .gnb_wrap .gnb>li>a{font-size: 13px;}
    .header .gnb_wrap .gnb>li>.submenu>li>a{font-size: 12px;}
}
@media screen and (max-width : 480px){

    .header .gnb_wrap{width: 200px;}
    .header .gnb_wrap .search_area input{width: 120px}
    .header .gnb_wrap .gnb>li>a{font-size: 12px;}
    .header .gnb_wrap .gnb>li>.submenu>li>a{font-size: 11px;}
}

/* 여기까지 헤드끝 */
/* ------------------------------------------------------------------------ */



/* 2. 메인 슬라이드 */
.main_visual{overflow: hidden;margin-top: 100px; }
.main_visual .inner{width: 100%;}
.main_visual .swiper{width: 100%; height:100% }
.main_visual .swiper .swiper-slide{
    position: relative;
    width: 100%; height: 100%;transform: scale(1); transition: 0.3s
}

.main_visual .swiper .swiper-slide .pic{}
/* 이미지 비율로 줄이기위해서 */
.main_visual .swiper .swiper-slide .pic img{width: 100vw} 
.main_visual .swiper .swiper-slide .swiper-contents{
    position: absolute;width: 100%;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);line-height: 30px;padding: 20px 0;
    background-color:transparent;justify-content: center; align-items: center;text-align: center; color: #fff
}

.main_visual .swiper .swiper-slide .swiper-contents .swiper-tit{font: bold 50px 'Noto Sans KR';letter-spacing: 4px;margin-bottom: 40px;}
.main_visual .swiper .swiper-slide .swiper-contents .swiper-txt{font-size: 20px;line-height:35px;color: #ddd;}


.main_visual .swiper .swiper-slide-active .pic::after{opacity:1;}

.main_visual .swiper .swiper-button-prev,
.main_visual .swiper .swiper-button-next{top: 50%;color: #fff;opacity: 0.5;}
.main_visual .swiper .swiper-button-prev:hover,
.main_visual .swiper .swiper-button-next:hover{opacity: 1;}



@media screen and (max-width : 1200px){

}
@media screen and (max-width : 960px){
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-tit{font-size: 40px;margin-bottom: 30px;}
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-txt{font-size: 18px;}
}
@media screen and (max-width : 860px){
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-tit{font-size: 35px;}
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-txt{font-size: 14px;line-height: 25px;}
}
@media screen and (max-width : 768px){
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-tit{font-size: 25px;margin-bottom: 20px;}
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-txt{font-size: 12px;line-height:20px}

    .main_visual .swiper .swiper-button-prev::after,
    .main_visual .swiper .swiper-button-next::after{font-size: 30px;}
}

@media screen and (max-width : 480px){
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-tit{font-size: 20px;margin-bottom: 10px;}
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-txt{font-size: 10px;line-height:20px}

    .main_visual .swiper .swiper-button-prev::after,
    .main_visual .swiper .swiper-button-next::after{font-size: 20px;}
}  
@media screen and (max-width : 360px){
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-tit{font-size: 16px;margin-bottom: 10px;}
    .main_visual .swiper .swiper-slide .swiper-contents .swiper-txt{font-size: 5px;line-height:15px}

    .main_visual .swiper .swiper-button-prev::after,
    .main_visual .swiper .swiper-button-next::after{font-size: 15px;}
}

/* 3. 실시간 베스트 */

.best_item .box{position: relative;;width: 370px; margin: 0 0 30px; background-color: rgb(249, 247, 247); }
.best_item .box .pic{width: 100%; overflow: hidden;}
.best_item .box .pic img{width: 100%; display: block;transition: 0.5s;}
.best_item .box:hover .pic img{transform: scale(1.1)}


.best_item .wrap .box .info{display: block; position: relative; padding: 20px;}

.best_item .box .info .deliver{
    width: 120px;
    text-align: center; font: 12px 'Noto Sans KR';padding: 2px;
    border: 1px solid black;
}
.best_item .box .info .soldout{width: 120px;margin:0 ; 
    text-align: center; font: 12px 'Noto Sans KR';padding: 2px; color: #fff;
    background-color: #07604f;
}

.best_item .box .info .item_name{margin: 20px 0;font-size: 14px;}
.best_item .box .info .price{display: flex;line-height: 20px;}
.best_item .box .info .price .sale{font: bold 14px 'Noto Sans KR';color: #333;}
.best_item .box .info .price .servings{font: 14px 'Noto Sans KR';color: #666;}

.best_item .box .info .buy {position: absolute;display: flex;right: 20px;top: 50px;}
.best_item .box .info .buy a{background-color: #ddd;border-radius: 100%;color: #aaa;font-size: 14px;padding: 14px 15px;}

.best_item .box .info .buy a:hover{background-color: #07604f;color: #fff;}

  
.blink {animation: blink-effect 1.5s step-end infinite;}
@keyframes blink-effect {
    50% {opacity: 0;}
}

@media screen and (max-width : 1200px){
    .best_item .box{width: 31.3333%;}
}
@media screen and (max-width : 960px){
    .best_item .box .info .item_name{font-size: 12px;}

    .best_item .box .info .buy a{font-size: 12px;padding: 12px 13px;}
}
@media screen and (max-width : 860px){
    .best_item .box .info .buy a{font-size: 10px;padding: 10px 11px;}
} 
@media screen and (max-width : 768px){
    .best_item .box{width: 48%;}
    .best_item .box .info .item_name{font-size: 14px;}
    .best_item .box .info .buy a{font-size: 14px;padding: 14px 15px;}

}
@media screen and (max-width : 480px){
    .best_item .box{width: 100%;}
    .best_item .box .info .item_name{font-size: 12px;}

}

/* 4. 상단 배너 */
.main_banner .inner{width: 100%;}
.main_banner .banner{width: 100%;display: flex;}
.main_banner .banner>li{width:50%;}
.main_banner .banner>li img{width: 100%;}



/* 5. 추천 tab박스 */
.recommen_item{
    position: relative;
    width: 100%;height: 1000px; margin-top: -10px}
.recommen_item .inner .tab{
    position:absolute; 
    width: 1200px; height: 630px;
    left: 50%;top:280px;transform: translateX(-50%);
    display: flex;justify-content: center;
}

.recommen_item .tab>li{margin-right: 30px;}
.recommen_item .tab>li>a{
    display:block;
    font: 16px/50px 'Noto Sans KR';color:#333;}

.recommen_item .tab>li.on>a{font-weight: bold;color: #07604f;border-bottom: 2px solid #07604f;}    

.recommen_item .tab>li>.panel{
    position: absolute; left: 0; top: 80px;
    width: 100%; height: calc(100% - 80px);
    display: flex; justify-content: space-between;
}
.recommen_item .tab>li>.panel .info{
    display: flex;width: 100%;height: fit-content;justify-content:space-between;
    padding:  0 40px;}
.recommen_item .tab >li>.panel .info .list_box{
    position: relative;
    width: 340px;
    display: block;text-align: center;
    background-color: rgb(249, 247, 247);padding-bottom: 40px;
}

.recommen_item .tab >li>.panel .info .list_box .info_pic img{width: 100%;;margin: 0 0 10px;}
.recommen_item .tab >li>.panel .info .list_box{height: max-content;}
.recommen_item .tab >li>.panel .info .list_box .info-title{font: 16px 'Noto Sans KR';color: #333;}
.recommen_item .tab >li>.panel .info .list_box .info_price {margin: 10px 0 30px 0;}
.recommen_item .tab >li>.panel .info .list_box .info_price .price{font: bold 14px 'Noto Sans KR';color: #333;}
.recommen_item .tab >li>.panel .info .list_box .info_price .or_price{font: 12px 'Noto Sans KR'; color:#666;text-decoration:line-through;}

.recommen_item .tab >li>.panel .info .list_box .MDrecommen{
    position: absolute; bottom: 220px; right: 40px; 
    font: 14px/18px 'Noto Sans KR';text-align: center;padding: 10px;
    width: 60px;height: 60px;border-radius: 100%; background-color:#07604f;color: #fff;
}


.recommen_item .tab >li>.panel .info .list_box .more {
    position: relative;
    font-size: 14px;
    padding: 6px 12px;margin: 30px 0 30px 0;
    cursor: pointer;color: #666;
}
.recommen_item .tab >li>.panel .info .list_box .more::after{
    content: '';position: absolute;
    bottom: 0;left: 50%;
    transform: translateX(-50%);
    width: 0%;height: 2px;
    background: #07604f;
    transition: all 0.3s ease-out;
}
.recommen_item .tab >li>.panel .info .list_box .more:hover::after{width: 100%;}
.recommen_item .tab >li>.panel .info .list_box .more:hover {font-weight: bold;transition: 0.3s ease-out;color: #07604f;}

.recommen_item_mod{display: none;}

@media screen and (max-width: 1200px){
    .recommen_item .inner .tab{width: 100%;top:250px}
    .recommen_item .tab >li>.panel .info .list_box{width: 31.3333%;}
    .recommen_item .tab >li>.panel .info .list_box .more {font-size: 14px;}
    .recommen_item .tab >li>.panel .info .list_box .info_price .MDrecommen{
        bottom: 210px; right: 30px; 
        font: 12px/14px 'Noto Sans KR';padding: 12px;
        width: 55px;height: 55px
    }


}

@media screen and (max-width : 960px){
    .recommen_item {width: 100%;height: 820px;padding: 100px 40px ;}
    .recommen_item .inner .tab{top: 200px;height: 520px;}
    .recommen_item .tab>li>a{font-size: 14px;}
    .recommen_item .tab >li>.panel .info .list_box .info-title{font-size: 14px;}
    .recommen_item .tab >li>.panel .info .list_box .info_price .price{font-size: 14px;}
    .recommen_item .tab >li>.panel .info .list_box .info_price .or_price{font-size: 12px;}
    .recommen_item .tab >li>.panel .info .list_box .more {font-size: 12px;}
}
@media screen and (max-width : 860px){
    .recommen_item {height: 800px;}
    .recommen_item .inner .tab{height: 500px;}
}  
@media screen and (max-width : 768px){
    .recommen_item {height: 1100px;display: flex;justify-content: center;}
    .recommen_item .tab>li>.panel .info{display: block}
    .recommen_item .tab >li>.panel .info .list_box{
        width: 100%;height: 200px;margin-bottom: 40px;
        display:flex;text-align:left;
        background-color: rgb(249, 247, 247);
    }
    .recommen_item .tab >li>.panel .info .list_box .info_pic img{width: 200px;margin: 0 0 40px}

    .recommen_item .tab >li>.panel .info .list_box .info-title{position: absolute;left: 40%;top: 30%;font-size: 16px}
    .recommen_item .tab >li>.panel .info .list_box .info_price{position: absolute;left: 40%;top: 50%;padding: 0px;font-size: 14px;}
    .recommen_item .tab >li>.panel .info .list_box .info_price .MDrecommen{
        position: absolute;
        left: -110px;top: -90px;
        font-size: 12px;text-align: center;padding: 10px;
        width: 50px;height: 50px;
    }
    .recommen_item .tab >li>.panel .info .list_box .more {position: absolute;right: 50px;top:80px;font-size: 14px;}
}
@media screen and (max-width : 600px){
    .recommen_item .tab >li>.panel .info .list_box .info-title{left: 50%;top: 30%;font-size: 14px}
    .recommen_item .tab >li>.panel .info .list_box .info_price{left: 50%;top: 50%;padding: 0px;font-size: 12px;}
    .recommen_item .tab >li>.panel .info .list_box .more {right: 40px;top:80px;font-size: 10px;}
}  


/* 6. 폭 480px */
@media screen and (max-width : 480px){
    .recommen_item{display: none;}
    .recommen_item_mod{display: block;}
    .recommen_item_mod{width: 100%;margin-top: -10px;}
    .recommen_item_mod .title{font : bold 24px 'Noto Sans KR'; color: #333; text-align: center; margin: 0 0 20px;}
    .recommen_item_mod .inner .title .p2{color:#07604f;}
    
    
    .recommen_item_mod .tab{
        position: relative; width: 100%; height: 630px;
        display: flex;justify-content: center;
    }
    .recommen_item_mod .tab>li:nth-last-of-type(2){margin: 0 20px;}
    .recommen_item_mod .tab>li>a{
        display:block;
        font: 14px/40px 'Noto Sans KR';color:#333;
    }
    .recommen_item_mod .tab>li.on>a{font-weight: bold;color: #07604f;border-bottom: 2px solid #07604f;}    
    .recommen_item_mod .tab>li>.panel{
        position: absolute; left: 0; top: 80px;
        width: 100%; height: calc(100% - 80px);
        display: flex; justify-content: space-between;
    }
    .recommen_item_mod .tab >li>.panel .list_box{
        position: relative;
        display: block;text-align: center;width: 100%;padding-bottom: 80px;
        background-color: rgb(249, 247, 247);}

    .recommen_item_mod .tab >li>.panel .list_box .info_pic img{width: 100%;}

    .recommen_item_mod .tab >li>.panel .list_box .info_price{margin-bottom: 10px;}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .info-title{font-size: 14px;color: #333; margin:10px 0;}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .price{font: bold 14px 'Noto Sans KR'; color: #333;}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .or_price{font-size: 12px; color:#666;text-decoration:line-through;}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .MDrecommen{
        position: absolute; top: 60px; right: 30px; 
        font: 12px 'Noto Sans KR';text-align: center;padding: 10px;
        width: 60px;height: 60px;border-radius: 100%; background-color:#07604f;color: #fff;
    }
    .recommen_item_mod .tab >li>.panel .list_box .more {
        position: absolute;
        left: 50%;transform: translateX(-50%);
        margin:  10px 0 30px 0;
        cursor: pointer;font-size: 14px;color: #666;
    }
    .recommen_item_mod .tab >li>.panel .list_box .more::after{
        content: '';position: absolute;
        bottom: 0;left: 50%;
        transform: translateX(-50%);
        width: 0%;height: 2px;
        background: #07604f;color: #07604f;
        transition: all 0.3s ease-out;
    }
    .recommen_item_mod .tab >li>.panel .list_box .more:hover::after{width: 100%;}
    .recommen_item_mod .tab >li>.panel .list_box .more:hover {color: #07604f;;font-weight: bold;transition: 0.3s ease-out;}


    .recommen_item_mod .swiper-btn{position: relative;}
    .recommen_item_mod .swiper-btn .swiper-button-prev,
    .recommen_item_mod .swiper-btn .swiper-button-next{position: absolute;top: -350px;color: #fff;opacity: 0.7;}
    .recommen_item_mod .swiper-btn .swiper-button-next::after,
    .recommen_item_mod .swiper-btn .swiper-button-prev::after{font-size: 20px;}
    
    .recommen_item_mod .swiper-btn .swiper-button-prev:hover,
    .recommen_item_mod .swiper-btn .swiper-button-next:hover{opacity: 1;}

    .recommen_item_mod .swiper-btn .swiper-pagination{
        position: absolute;
        left: 50%; top: -40px; transform: translateX(-50%);
        width: 70px;height: 20px;
        color: #666;font-size: small;
        text-align: center; z-index: 5;
    }
    .recommen_item_mod .swiper-btn .swiper-pagination .slash,
    .recommen_item_mod .swiper-btn .swiper-pagination .swiper-pagination-total{display: inline;}

}

@media screen and (max-width : 400px){
    .recommen_item_mod .tab{height: 550px;}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .info-title{font-size: 14px; margin:10px 0 20px 0;}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .price{font: bold 14px 'Noto Sans KR'}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .or_price{font-size: 12px}
    .recommen_item_mod .tab >li>.panel .list_box .more {font-size: 12px;}
    .recommen_item_mod .swiper-btn .swiper-pagination{top: -30px}
}    
@media screen and (max-width : 360px){
    .recommen_item_mod .tab >li>.panel .list_box .info_price .info-title{font-size: 12px; margin:10px 0 20px 0;}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .price{font: bold 12px 'Noto Sans KR'}
    .recommen_item_mod .tab >li>.panel .list_box .info_price .or_price{font-size: 12px}
    .recommen_item_mod .tab >li>.panel .list_box .more {font-size: 12px;}
    .recommen_item_mod .swiper-btn .swiper-pagination{top: -80px}
}    





/* 7. 이벤트 중간 배너  */
.mid_banner .inner{width: 100%;}
.mid_banner .banner>li{width:100%;}
.mid_banner .banner>li img{width: 100%;}

/* 8. 소비자 리뷰 */
.review .swiper{padding: 5px}
.review .swiper .swiper-slide{
    position: relative; padding: 30px;
    border-radius: 15px; box-shadow: 0 0 7px #ddd;
    transition: 0.3s;
}
.review .swiper .swiper-slide .info_box{text-align: center;}
.review .swiper-slide .review_star{color: orange;margin-right: 10px;}

.review .swiper-slide .review_star .star-warp{width: 18px;display: inline-block;}

.review .swiper .swiper-slide .info_box .reviewitem_name{margin: 10px 0 10px 0; font: bold 16px 'Noto Sans KR';  color: #333;}
.review .swiper .swiper-slide .info_box .reviewitem_txt{margin:0 0 20px; font-size: 14px; color: #666;}
.review .swiper .swiper-slide .info_box .pic{width: 250px;height: 250px; margin: 0 auto; border-radius: 100%; box-shadow: 0 0 10px #ddd; overflow: hidden; }
.review .swiper .swiper-slide .info_box .pic img{width: 100%; display: block;}
.review .swiper-btn .swiper-button-prev,
.review .swiper-btn .swiper-button-next{color:#07604f;}

@media screen and (max-width : 1200px){
    .review .swiper .swiper-slide .info_box .reviewitem_name{margin: 10px 0 10px 0; font: bold 14px 'Noto Sans KR';  color: #333;}
    .review .swiper .swiper-slide .info_box .reviewitem_txt{margin:0 0 20px; font-size: 12px; color: #666;}
}
@media screen and (max-width : 960px){
    .review .swiper .swiper-slide .info_box .review_star{font-size:12px;}
    .review .swiper .swiper-slide .info_box .reviewitem_name{margin: 10px 0 10px 0; font: bold 12px 'Noto Sans KR';  color: #333;}
    .review .swiper .swiper-slide .info_box .reviewitem_txt{margin:0 0 20px; font-size: 10px; color: #666;}
    .review .swiper .swiper-slide .info_box .pic{width: 200px;height: 200px}

}   

@media screen and (max-width : 768px){
    .review .swiper .swiper-slide .info_box .review_star{font-size:10px;}
    .review .swiper .swiper-slide .info_box .reviewitem_name{margin: 10px 0 10px 0; font: bold 10px 'Noto Sans KR';  color: #333;}
    .review .swiper .swiper-slide .info_box .reviewitem_txt{margin:0 0 20px; font-size: 8px; color: #666;}
    .review .swiper .swiper-slide .info_box .pic{width: 100px;height: 100px}
    .review .swiper-btn .swiper-button-next::after,
    .review .swiper-btn .swiper-button-prev::after{font-size: 30px;font-weight: bold;}
}   
@media screen and (max-width : 680px){

}   

/* 9. 비디오 */
.vidio .inner{transform: translateY(300%);opacity: 0;transition: 1.5s;}
.vidio.on .inner{transform: translateY(0);opacity: 1}

.vidio {text-align: center;justify-content: center;}
.vidio .inner .title{line-height: 50px;}
.vidio .inner .title span{font-size: 30px;font-weight: bold;color: #07604f}
.vidio iframe{width:90%; height:70vh }


@media screen and (max-width : 1200px){
    .vidio .inner .title span{font-size: 24px}
}
@media screen and (max-width : 960px){
    .vidio .inner .title span{font-size: 20px}
    .vidio iframe{width:70vw; height:40vh }
}   

@media screen and (max-width : 768px){
    .vidio .inner .title{line-height: 40px;}
    .vidio .inner .title span{font-size: 16px}
    .vidio iframe{height:30vh }

}  
@media screen and (max-width : 480px){
    .vidio .inner .title{line-height: 30px;}

} 
@media screen and (max-width : 360px){
}  

/* 10. 공지사항 부분 */
.announce{background-color: #fbfbfb;}
.announce .inner{overflow: hidden;padding: 20px;}

.announce .wrap .box{width: 45%;}

.announce .notice{position: relative;}
.announce .notice .notice_list>li{color: #666;font-size: 16px;line-height: 30px;cursor: pointer;}
.announce .notice .notice_list>li .date{position: absolute ;right: 0;}
.announce .notice .notice_btn{margin: 20px 0 0 0;display: none;}
.announce .notice .notice_btn>a{
    font-size:5px; padding: 5px;border: 1px solid rgb(5, 80, 49); margin-right: 15px; color: #07604f
}

.announce .CS{display: flex;justify-content:space-between;}
.announce .CS .call_info{
    left: 0;top: 0;
    width: 200px;height: 100%;;margin-right: 20px;
    text-align: center;
}

.announce .CS .call_info .call_num{font: bold 35px 'Noto Sans KR';color: #07604f;}

.announce .CS .customer_info{
    width: 260px;height: 100%;
    font-size: 16px;line-height: 30px;
    color: #666;
}
.announce .CS .customer_info a{font-size: 14px;color: #666;}

.announce .CS .customer_info .customer_btn{margin: 30px 0 0 0;}
.announce .CS .customer_info .customer_btn>a{
    font-size: 14px;font-weight: bold; padding: 15px;border: 1px solid rgb(5, 80, 49); margin-right: 15px; color: #07604f}

.announce .box{transform: translateX(0);opacity:1}
.announce .box:nth-child(1){transform: translateX(-120%);opacity: 0.8;transition: 1.5s}
.announce .box:nth-child(2){transform: translateX(120%);opacity: 0.8;transition: 1.5s;}
.announce.on .box{transform: translateX(0);opacity: 1;}


@media screen and (max-width : 1200px){
    .announce .notice .notice_list>li{font-size: 14px}
    .announce .CS .customer_info{font-size: 14px;}
}
@media screen and (max-width : 960px){
    .announce .CS .call_info{width: 150px;}
    .announce .CS .call_info .call_num{font-size: 25px;}
}
@media screen and (max-width : 860px){
    .announce .CS .call_info{width: 120px;}
    .announce .CS .call_info .call_num{font-size: 20px;}
    .announce .CS .customer_info .customer_btn>a{font-size: 12px;padding: 10px;}
}
@media screen and (max-width : 768px){
    .announce .CS .call_info{width: 90px;}
    .announce .CS .call_info .call_num{font-size: 14px;}
    .announce .notice .notice_list>li{font-size: 12px}
    .announce .CS .customer_info a{font-size: 12px;}
    .announce .CS .customer_info {font-size: 12px;}
}   
@media screen and (max-width : 700px){
    .announce .notice .notice_list>li {text-align: center;}
    .announce .notice .notice_list>li >span{display: none;}

    .announce .CS{display: block;}
    .announce .CS .call_info{width: 100%;height: 60%;}
    .announce .CS .customer_info{width: 100%;height: 40%;}
    .announce .CS .customer_info p{display: none;}
    .announce .CS .customer_info .customer_btn{text-align: center}
    .announce .CS .customer_info .customer_btn>a{margin-right: 0;}

}   
@media screen and (max-width : 480px){
    .announce .CS .call_info .call_num{font-size: 20px;}
}   
@media screen and (max-width : 360px){
    .announce .wrap .box{width: 100%;padding-bottom: 20px;}
    .announce .notice {border-bottom: 2px solid #07604f;}
    .announce .CS .call_info .call_num{font-size: 25px;}
}   


/* footer */
.footer{width: 100%; padding: 50px 0 50px; background-color: #EDF5E6; text-align: center }

.footer .f_logo{margin: 0 0 20px;}
.footer .f_logo a img{margin-right: 10px; width: 100px; height: 100px;}
.footer .f_logo a h1{font: bold 16px 'Noto Sans KR'; color: #07604f;}
.footer .f_logo a small{font-size: 12px; color: rgb(110, 120, 111);}

.footer .f_sns li{
    display: inline-block; width: 40px; height: 40px;  margin: 0 0 0 20px; 
    border-radius: 100%; border: 1px solid rgb(110, 120, 111); 
    font: 18px/38px 'Noto Sans KR';  text-align: center;
}
.footer .f_sns li a{color:rgb(110, 120, 111);}

.footer .copyright{width: 100%; margin-top: 20px;font-size: 14px; color: rgb(110, 120, 111);line-height: 30px;}

@media screen and (max-width: 1200px){
    .footer .f_sns li{
        width: 35px; height: 35px;  margin: 0 0 0 20px; 
        font: 14px/32px 'Noto Sans KR';
    }
    .footer .copyright{font-size: 12px;}

}
@media screen and (max-width : 960px){
    .footer .f_sns li{
        width: 30px; height: 30px;  margin: 0 0 0 10px; 
        font: 12px/29px 'Noto Sans KR';
    }
    .footer .copyright{font-size: 10px;}
}
@media screen and (max-width : 768px){

}   
@media screen and (max-width: 640px){
    .footer .copyright{padding: 0 40px;font-size: 5px}

}
@media screen and (max-width: 412px){
}
@media screen and (max-width: 360px){
    .footer .copyright{padding:0  50px;font-size: 5px}

}